<template>
  <CNavDrawer
    :is-opened="isOpenForm"
    :title="`Рейс №${currentTrip.id}`"
    width="520"
    @close="closeForm"
  >
    <TripFormRow>
      <template slot="title">
        Погрузка
      </template>
      <CCol>
        <span class="mr-2">
          {{ formatLoadingPeriod }}
        </span>
        <span>
          {{ currentTrip && formatDate(currentTrip.loadingDate) }}
        </span>
      </CCol>
    </TripFormRow>
    <TripFormRow>
      <template slot="title">
        Разгрузка
      </template>
      <CCol>
        <span class="mr-2">
          {{ formatUnloadingPeriod }}
        </span>
        <span>
          {{ currentTrip && formatDate(currentTrip.unloadingDate) }}
        </span>
      </CCol>
    </TripFormRow>
    <TripFormRow
      v-if="isPlanning"
      change-width
    >
      <template slot="title">
        Статус
      </template>
      <CFlex
        v-if="isStatusEdit && сanEditStatus"
        row
      >
        <CCol xs="7">
          <CSelect
            v-model="statusData.status"
            v-validate="hadStatus ? 'required' : ''"
            :items="statuses"
            name="status"
            :error-messages="errors.collect('status')"
            item-text="label"
            placeholder="Статус"
            hide-selected
            @input="handleSelectChange('isStatusHasChanges', 'status')"
          />
        </CCol>
        <CCol
          v-if="!isStatusEdit"
          class="mb-3"
        >
          {{ formatStatus }}
        </CCol>
        <CCol xs="5">
          <CBtn
            v-if="isStatusHasChanges"
            :loading="isShownPreloader"
            @click="sendNewStatus"
          >
            Сохранить
          </CBtn>
        </CCol>
      </CFlex>
      <CCol
        v-else
        class="mb-3"
      >
        {{ formatStatus }}
      </CCol>
    </TripFormRow>
    <TripFormRow>
      <template slot="title">
        Хозяйство
      </template>
      {{ currentTrip.farms && currentTrip.farms.name }}
    </TripFormRow>
    <TripFormRow>
      <CCol
        slot="title"
        class="mb-3"
      >
        Пункт погрузки
      </CCol>
      <CCol class="mb-3">
        {{ currentTrip.loadingStations && currentTrip.loadingStations.name }}
      </CCol>
    </TripFormRow>
    <TripFormRow>
      <template slot="title">
        Номер машины
      </template>
      {{ currentTrip.cars && currentTrip.cars.number }}
    </TripFormRow>
    <TripFormMap
      :is-sidebar-open="isOpenForm"
      :car-data="currentTrip.cars"
      :current-id="currentTrip.id"
    />
    <TripFormRow
      v-if="isPlanning"
    >
      <template slot="title">
        Водитель
      </template>
      <CFlex
        v-if="Boolean(currentTrip.isOnlyUnloading)"
        row
      >
        <CCol xs="7">
          <CSelect
            v-model="statusData.driver"
            v-validate="hadDriver ? 'required' : ''"
            name="driver"
            :error-messages="errors.collect('driver')"
            :items="localDrivers"
            route="drivers.list.get"
            route-request-prop="search"
            route-response-prop="drivers.data"
            no-result="Ничего не найдено"
            no-options="Введите имя"
            item-text="fullName"
            item-value="userId"
            searchable
            @input="handleSelectChange('isDriverHasChanges', 'driver')"
            @change-items="drivers = $event"
          />
        </CCol>
        <CCol xs="5">
          <CBtn
            v-if="isDriverHasChanges"
            :loading="isShownDriverPreloader"
            @click="saveDriver"
          >
            Сохранить
          </CBtn>
        </CCol>
      </CFlex>
      <template v-else>
        {{ currentTrip.drivers
          && currentTrip.drivers.profile
          && currentTrip.drivers.profile.shortName
        }}
      </template>
    </TripFormRow>
    <TripFormRow>
      <template slot="title">
        Телефон
      </template>
      {{ currentTrip.drivers
        && currentTrip.drivers.profile
        && formatPhone(currentTrip.drivers.profile.phone)
      }}
    </TripFormRow>
    <TripFormRow>
      <template slot="title">
        Масса груза
      </template>
      {{ currentTrip.weight ? `${$options.filters.fixed(currentTrip.weight, 3)} т` : '-' }}
    </TripFormRow>
    <TripFormRow>
      <template slot="title">
        Время в рейсе
      </template>
      {{ tripTime }}
    </TripFormRow>
    <TripHistory
      :is-open-form="isOpenForm"
      :current-trip="currentTrip"
      :statuses="statuses"
    />
  </CNavDrawer>
</template>

<script>
// Libs
import { setQuery } from 'chober';

// Mixins
import UIMixin from '@mixins/UIMixin';
import formMixin from '@mixins/formMixin';
import rolesMixin from '@mixins/rolesMixin';

// Utils
import { throwResponse } from '@global/utils';

// Components
import TripFormRow from './components/TripFormRow';
import TripHistory from './components/TripHistory';
import TripFormMap from './components/TripFormMap';

// Models
import tripStatusForm from './models/tripStatusForm';

const ONE_HOUR = 60;

export default {
  name: 'TripsForm',

  components: {
    TripFormRow,
    TripHistory,
    TripFormMap,
  },

  mixins: [
    UIMixin,
    formMixin,
    rolesMixin,
  ],

  props: {
    selectedTripId: {
      type: Number,
      default: null,
    },

    statuses: {
      type: Array,
      required: true,
    },

    periods: {
      type: Array,
      required: true,
    },

    isStatusEdit: {
      type: Boolean,
      default: true,
    },

    isPlanning: {
      type: Boolean,
      default: true,
    },
  },

  data: () => ({
    statusData: tripStatusForm(),
    isStatusHasChanges: false,
    isOpenForm: false,
    currentTrip: {},
    isDriverHasChanges: false,
    isShownDriverPreloader: false,
    drivers: [],
    hadDriver: false,
    hadStatus: false,
  }),

  computed: {
    tripTime() {
      if (this.currentTrip.tripTime && this.currentTrip.tripTime !== null) {
        return (this.currentTrip.tripTime >= ONE_HOUR)
          ? `${Math.floor(this.currentTrip.tripTime / ONE_HOUR)} ч ${this.currentTrip.tripTime % ONE_HOUR} мин`
          : `${this.currentTrip.tripTime} мин`;
      }

      return '-';
    },

    сanEditStatus() {
      return this.isAdmin || this.isLogiestGroup;
    },

    formatLoadingPeriod() {
      return this.periods.length !== 0 && this.currentTrip.loadingPeriod
        ? this.periods.find(period => period.id === this.currentTrip.loadingPeriod).value
        : '';
    },

    formatUnloadingPeriod() {
      return this.periods.length !== 0 && this.currentTrip.unloadingPeriod
        ? this.periods.find(period => period.id === this.currentTrip.unloadingPeriod).value
        : '';
    },

    formatStatus() {
      return this.statuses && this.currentTrip.status
        ? this.statuses.find(status => status.id === this.currentTrip.status).label
        : '';
    },

    localDrivers() {
      return this.drivers.map(driver => driver.profile);
    },
  },

  watch: {
    isOpenForm: 'checkForm',
    сanEditStatus: 'checkForm',

    selectedTripId(id) {
      if (id !== null) {
        this.getInfo(id);
      }
    },

    currentTrip(currentTrip) {
      if (currentTrip.drivers !== null) {
        this.drivers = [currentTrip.drivers];
        this.statusData.driver = currentTrip.driverId;
      }
    },
  },

  created() {
    this.getInfo(this.selectedTripId);
  },

  methods: {
    getInfo(id) {
      this.showPreloader();
      this.$http.get(laroute.route('trips.view.data', { id }))
        .then(({ body }) => {
          this.currentTrip = body;
          this.isOpenForm = true;
        })
        .catch(throwResponse)
        .finally(this.hidePreloader);
    },

    checkForm() {
      if (this.isOpenForm && this.сanEditStatus) {
        this.setEditableFields();

        this.hadDriver = this.currentTrip.driverId !== null;
        this.hadStatus = this.statusData.status !== null;
      }
    },

    setEditableFields() {
      this.statusData = tripStatusForm({
        id: this.currentTrip.id,
        status: this.currentTrip.status,
      });
    },

    closeForm() {
      setQuery({ view: null }, { isSaveOld: true });
      this.isOpenForm = false;
      this.statusData = tripStatusForm();
      this.drivers = [];
      this.removeErrors();
      this.$emit('close');
    },

    handleSelectChange(variable, errorVariable) {
      this[variable] = true;
      this.removeErrors([errorVariable]);
    },

    async sendNewStatus() {
      const isValid = await this.validateForm();

      if (!isValid) return;

      this.showPreloader();
      this.$http.post(laroute.route('trips.change-status'), this.statusData)
        .then(() => {
          this.getInfo(this.currentTrip.id);
          this.$emit('update-data');
          this.isStatusHasChanges = false;
          this.hadStatus = true;
        })
        .catch(this.addErrors)
        .finally(this.hidePreloader);
    },

    async saveDriver() {
      const isValid = await this.validateForm();

      if (!isValid) return;

      this.showPreloader('isShownDriverPreloader');
      this.$http.post(
        laroute.route('trips.update-driver'),
        {
          driverId: this.statusData.driver,
          id: this.statusData.id,
        },
      )
        .then(() => {
          this.getInfo(this.currentTrip.id);
          this.$emit('update-data');
          this.isDriverHasChanges = false;
          this.hadDriver = true;
        })
        .catch(this.addErrors)
        .finally(() => {
          this.hidePreloader('isShownDriverPreloader');
        });
    },
  },
};
</script>
