<template>
  <div class="trip-history">
    <div class="mb-2 trip-history__toggle-shown-map">
      <CBtn
        transparent
        @click="toggleShownHistory"
      >
        {{ isShownHistory ? 'Скрыть историю' : 'История изменений' }}
        <CIcon
          :name="isShownHistory ? 'arrow-up' : 'arrow-down'"
          class="ml-3"
        />
      </CBtn>
    </div>
    <div v-if="isShownHistory">
      <CFlex
        row
        class="mb-2 trip-history__header-history"
      >
        <CCol xs="5">
          Дата, время и пользователь
        </CCol>
        <CCol xs="7">
          Действие
        </CCol>
      </CFlex>
      <CFlex
        v-for="(log, logIndex) in sortedLogs"
        :key="logIndex"
        row
        class="mb-3"
      >
        <CCol xs="5">
          <span>
            {{ formatDate(getLogDate(log), 'DD.MM.Y, HH:mm') }}
          </span><br>
          <span>
            {{ getLogAuthor(log) }}
          </span>
        </CCol>
        <CCol
          v-if="log.data !== undefined"
          xs="7"
        >
          <!-- eslint-disable vue/no-v-html -->
          <div v-html="formatChanges(log.data.attributes, log.action)" />
          <!-- eslint-enable vue/no-v-html -->
        </CCol>
      </CFlex>
      <CFlex
        row
        class="mb-3"
      >
        <CCol xs="5">
          <span>
            {{ formatDate(currentTrip.createdAt, 'DD.MM.Y, HH:mm') }}
          </span>
          <span>
            {{ currentTrip.creator ? currentTrip.creator.profile.shortName : 'Автоматически' }}
          </span>
        </CCol>
        <CCol xs="7">
          Создание
        </CCol>
      </CFlex>
    </div>
  </div>
</template>

<script>
// Libs
import moment from 'moment';
import { isString } from 'chober';

// Mixins
import UIMixin from '@mixins/UIMixin';

const CALLED_CAR = 23;
const TRIP_DRIVER_CANCELED_ACTION = 45;

export default {
  name: 'TripsHistory',

  mixins: [
    UIMixin,
  ],

  props: {
    isOpenForm: {
      type: Boolean,
      default: false,
    },

    currentTrip: {
      type: Object,
      required: true,
    },

    statuses: {
      type: Array,
      required: true,
    },

  },

  data: () => ({
    isShownHistory: false,
  }),

  computed: {
    sortedLogs() {
      return this.currentTrip.recentUpdates.slice().sort((firstUpdate, secondUpdate) => {
        if (
          moment(this.getLogDate(firstUpdate))
            .isBefore(moment(this.getLogDate(secondUpdate)))
        ) {
          return 1;
        }

        if (
          moment(this.getLogDate(firstUpdate))
            .isAfter(moment(this.getLogDate(secondUpdate)))
        ) {
          return -1;
        }

        return 0;
      });
    },
  },

  watch: {
    isOpenForm(isOpen) {
      if (isOpen) {
        this.isShownHistory = false;
      }
    },
  },

  methods: {
    toggleShownHistory() {
      this.isShownHistory = !this.isShownHistory;
    },

    formatPeriod(period, oldPeriod) {
      if (!period) return '';

      if (oldPeriod) {
        return `c ${oldPeriod.substring(0, 2)}:00 - ${oldPeriod.substring(2)}:00
          на ${period.substring(0, 2)}:00 - ${period.substring(2)}:00 `;
      }

      return `${period.substring(0, 2)}:00 - ${period.substring(2)}:00`;
    },

    getLoadingAcceptedStatus(isLoadingAccepted, isReload = false, isStatusReversed = false) {
      if (isStatusReversed) {
        return 'возврат в очередь';
      }
      if (isReload) {
        return isLoadingAccepted ? 'догрузка разрешена' : 'отказано в догрузка';
      }
      return isLoadingAccepted ? 'погрузка разрешена' : 'отказано в погрузке';
    },

    getLoadingSuccess(isLoadingSuccess, isLoadingAccepted) {
      if (isLoadingAccepted) {
        return isLoadingSuccess ? 'да' : 'нет';
      }

      return null;
    },

    getLogDate(log) {
      return log.data && log.data.attributes.loggingTime
        ? log.data.attributes.loggingTime
        : log.createdAt;
    },

    getLogAuthor(log) {
      if (log.data.attributes.loaderName === null) {
        return '';
      }

      const logAuthor = log.data.attributes.loaderName
        || (log.author && log.author.profile.shortName);

      const shortName = log.data.initiator
        && log.data.initiator.profile
        && log.data.initiator.profile.shortName;

      return logAuthor
        || shortName
        || log.data.initiator
        || 'Автоматически';
    },

    formatChanges(changes, action) {
      const logs = [
        [
          'масса на',
          (changes.weight || changes.weight !== undefined) && `${this.$options.filters.fixed(changes.weight)} т
          ${changes.isPollutionChanged ? '<br>Пересчет в зачетный вес' : ''}`,
        ],
        [
          'водитель на',
          (changes.driverId
            && changes.relations.length !== 0
            && changes.relations.driver !== undefined
            && changes.relations.driver.profile.fullName)
          || null,
        ],
        [
          'машина на',
          (changes.carId
            && changes.relations.length !== 0
            && changes.relations.car !== undefined
            && changes.relations.car.number)
          || null,
        ],
        [
          'статус на',
          changes.status && action !== TRIP_DRIVER_CANCELED_ACTION
            ? `${this.statuses.find(status => status.id === Number(changes.status)).label}`
            : null,
        ],
        [
          'Отмена рейса',
          changes.status && action === TRIP_DRIVER_CANCELED_ACTION ? ' ' : null,
        ],
        [
          'Ответ погрузчика:',
          changes.loaderResponse
            ? this.getLoadingAcceptedStatus(
              JSON.parse(changes.loaderResponse).isLoadingAccepted,
              JSON.parse(changes.loaderResponse).isReload,
              JSON.parse(changes.loaderResponse).isStatusReversed,
            )
            : null,
        ],
        [
          'Погрузка состоялась:',
          changes.loaderResponse
            ? this.getLoadingSuccess(
              JSON.parse(changes.loaderResponse).isLoadingSuccess,
              JSON.parse(changes.loaderResponse).isLoadingAccepted,
            )
            : null,
        ],
        [
          'Место разгрузки:',
          (changes.unloadingOptionId
            && changes.relations.length !== 0
            && changes.relations.unloadingOption !== undefined
            && changes.relations.unloadingOption.name)
          || null,
        ],
        [
          'Дата разгрузки:',
          changes.oldAttributes
            && changes.oldAttributes.unloadingDate
            && changes.unloadingDate
            && isString(changes.unloadingDate)
            && this.formatDate(changes.unloadingDate, 'DD.MM.Y') !== this.formatDate(changes.oldAttributes.unloadingDate, 'DD.MM.Y')
            ? `c ${this.formatDate(changes.oldAttributes.unloadingDate, 'DD.MM.Y')} на ${this.formatDate(changes.unloadingDate, 'DD.MM.Y')}`
            : '',
        ],
        [
          'Время разгрузки:',
          changes.unloadingDate ? `${this.formatDate(changes.unloadingDate.date, 'DD.MM.YYYY HH:mm')}` : null,
        ],
        [
          'Период разгрузки:',
          changes.unloadingPeriod
            ? `${this.formatPeriod(changes.unloadingPeriod,
              changes.oldAttributes && changes.oldAttributes.unloadingPeriod)}`
            : null,
        ],
        [
          'Время погрузки:',
          changes.loadingTime && !JSON.parse(changes.loaderResponse).isStatusReversed
            ? `${this.formatDate(changes.loadingTime, 'DD.MM.YYYY HH:mm')}`
            : null,
        ],
        [
          'Период погрузки:',
          changes.loadingPeriod
            ? `${this.formatPeriod(changes.loadingPeriod,
              changes.oldAttributes && changes.oldAttributes.loadingPeriod)}`
            : null,
        ],
        [
          'Время возврата:',
          changes.loadingTime && JSON.parse(changes.loaderResponse).isStatusReversed
            ? `${this.formatDate(changes.loadingTime, 'DD.MM.YYYY HH:mm')}`
            : null,
        ],
        [
          'Вызов на погрузку',
          changes.queueType === CALLED_CAR ? ' ' : null,
        ],
        [
          'Время до поля -',
          changes.timeToFactory ? `${changes.timeToFactory} мин` : null,
        ],
      ];

      const filteredLogs = logs
        // eslint-disable-next-line no-unused-vars
        .filter(([key, value]) => value);

      const logString = filteredLogs
        .map(([key, value]) => `${key} ${value}`)
        .join(', <br>');

      if (filteredLogs.length === 1 && filteredLogs[0][1] === ' ') {
        return logString;
      }

      return logString.length > 0 ? `Изменение: ${logString}` : '';
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.trip-history {
  &__reason {
    width: 270px;
    padding-right: 10px;
    margin: 10px 0;
  }

  &__subtitle {
    font-size: 12px;
    color: $charcoal-grey-56;
  }

  &__item {
    padding: 10px;
    margin: 10px 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__title {
    font-size: 17px;
    font-weight: 400;
  }

  &__header-history {
    color: $charcoal-grey-56;
  }
}
</style>
