<template>
  <CFlex
    row
    class="mb-2"
  >
    <CCol
      xs="3"
      sm="4"
    >
      <div class="trips-form-map__key">
        Глонасс
      </div>
    </CCol>
    <CFlex
      v-if="isShownPreloader"
      center-xs
      row
      class="mb-2"
    >
      <CPreloader size="50" />
    </CFlex>
    <CCol
      v-else
      xs="9"
      sm="8"
      class="trips-form-map__glonass-label"
    >
      <CIcon
        v-if="hasGlonass"
        name="glonass"
        class="trips-form-map__icon trips-form-map__icon--glonass"
      />
      {{ glonassLabel }}
    </CCol>
    <template v-if="mapData.isMapLoaded">
      <CCol
        xs="9"
        sm="8"
      >
        <div
          v-if="mapData.isShownMap || mapData.isShownToggleButton"
          class="trips-form-map__toggle-shown-map"
        >
          <CBtn
            transparent
            @click="toggleShownMap"
          >
            {{ mapData.isShownMap ? 'Скрыть карту' : 'Показать карту' }}
            <CIcon
              :name="mapData.isShownMap ? 'arrow-up' : 'arrow-down'"
              class="trips-form-map__icon--arrow"
            />
          </CBtn>
        </div>
      </CCol>
      <CCol
        v-if="mapData.isShownMap"
        xs="12"
      >
        <CMap
          v-if="mapData.isMapLoaded"
          :config="mapData.config"
          :route="mapData.route"
          class="trips-form-map__map"
        />
      </CCol>
    </template>
  </CFlex>
</template>

<script>
// Mixins
import formMixin from '@mixins/formMixin';
import UIMixin from '@mixins/UIMixin';

// Models
import tripsFormMap from '../models/tripsFormMap';

export default {
  name: 'TripsFormMap',

  mixins: [
    UIMixin,
    formMixin,
  ],

  props: {
    isSidebarOpen: {
      type: Boolean,
      default: false,
    },

    currentId: {
      type: Number,
      default: null,
    },

    carData: {
      type: Object,
      default: () => ({}),
    },
  },

  data: () => ({
    mapData: tripsFormMap(),
  }),

  computed: {
    hasGlonass() {
      return this.carData && Boolean(this.carData.trackingNumber);
    },

    glonassLabel() {
      return this.hasGlonass ? 'Есть' : '-';
    },
  },

  watch: {
    isSidebarOpen(isOpened) {
      if (isOpened) {
        this.getTimeSlotGlonass(this.currentId);
      } else {
        this.mapData = tripsFormMap();
      }
    },
  },

  methods: {
    toggleShownMap() {
      this.mapData.isShownMap = !this.mapData.isShownMap;
    },

    getTimeSlotGlonass(id) {
      if (!id) return;

      this.showPreloader();
      this.$http.get(laroute.route('trip.map', { id }))
        .then(({ body }) => {
          this.mapData.isShownToggleButton = true;
          this.setMapConfig(body);
        })
        .catch(() => {
          this.mapData.isShownToggleButton = false;
        })
        .finally(() => {
          this.mapData.isMapLoaded = true;
          this.hidePreloader();
        });
    },

    setMapConfig(data) {
      const lastPoint = data.points[data.points.length - 1];
      const route = data.points
        .map(pointItem => [
          pointItem.latitude,
          pointItem.longitude,
        ]);
      const stopPoints = data.stops
        .map((stop) => {
          const [hours, minutes] = stop.stopTime.split(':');

          return {
            stopTime: `${hours} ч. ${minutes} мин.`,
            marker: {
              lat: stop.latitude,
              lng: stop.longitude,
            },
          };
        });
      const truck = {
        marker: {
          lat: lastPoint.latitude,
          lng: lastPoint.longitude,
        },
      };
      const loadingPoint = {
        marker: {
          lat: data.points[0].latitude,
          lng: data.points[0].longitude,
        },
      };

      this.mapData = tripsFormMap({
        ...this.mapData,
        config: {
          zoom: 10,
          center: [
            truck.marker.lat,
            truck.marker.lng,
          ],
        },
        route: {
          route,
          truck,
          stopPoints,
          loadingPoint,
        },
      });
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.trips-form-map {
  &__key {
    color: $charcoal-grey-56;
  }

  &__icon {
    margin-right: 10px;

    &--glonass {
      color: $charcoal-grey-56;
      font-size: 16px;
    }

    &--arrow {
      color: $green;
      margin-left: 10px;
    }
  }

  &__toggle-shown-map {
    display: flex;
    align-items: center;
  }

  &__map {
    &.vue2leaflet-map {
      height: 420px;
      width: 100%;
      padding: 8px;

      @media (max-width: $media-md-min) {
        height: 320px;
      }

      @media (max-width: $media-sm-min) {
        height: 220px;
      }
    }
  }
}
</style>
