<template>
  <CFlex
    row
    baseline-xs
    class="form-row mb-2"
  >
    <CCol
      :xs="changeWidth ? '12' : '3'"
      sm="4"
      class="mb-2"
    >
      <div class="label">
        <slot name="title" />
      </div>
    </CCol>
    <CCol
      :xs="changeWidth ? '12' : '9'"
      sm="8"
    >
      <slot />
    </CCol>
  </CFlex>
</template>

<script>
export default {
  name: 'TripsFormRow',

  props: {
    changeWidth: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.label {
  color: $charcoal-grey-56;
}
</style>
