<template>
  <transition name="header-menu">
    <div class="pb-2 sidepanel-header-menu">
      <div class="sidepanel-header-menu__separator" />
      <TButton
        color="white"
        transparent
        icon="exit"
        icon-width="19"
        icon-height="19"
        icon-fill="none"
        icon-stroke="none"
        icon-view-box="0 0 17 15"
        class="sidepanel-header-menu__button"
        @click="logout"
      >
        Выход
      </TButton>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

const RELOAD_TRIGGER = 'reloadTrigger';

export default {
  name: 'SidepanelHeaderMenu',

  computed: {
    ...mapGetters({
      isLogoutBtnLoading: 'auth/login/GET_LOGOUT_CONTROL_LOADING',
    }),
  },

  methods: {
    ...mapActions({
      logOut: 'auth/login/LOG_OUT',
      removeAuthCookie: 'general/REMOVE_AUTH_COOKIE',
      removeAuthHeader: 'general/REMOVE_AUTH_HEADER',
    }),

    logout() {
      this.logOut().then(() => {
        this.removeAuthCookie();
        this.removeAuthHeader();
        this.$router.push('/login');
        localStorage.setItem(RELOAD_TRIGGER, new Date().valueOf());
      });
    },
  },
};
</script>

<style lang="scss">
@import 'assets/scss/_variables';
@import 'assets/scss/_mixins';

.sidepanel-header-menu {
  $self: &;

  position: absolute;
  top: 62px;
  left: 9px;
  z-index: 1;
  padding: 0 17px;
  padding-top: 8px;
  width: 238px;
  background-color: #39464d;
  box-shadow: 4px 6px 10px rgba(25, 38, 45, 0.5);
  &__separator {
    border-top: 1px solid rgba(212, 217, 220, 0.5);
    width: 100%;
  }

  &__button {
    margin-top: 6px;
    width: 100%;
    border-radius: 0;
  }

  &__error {
    white-space: normal;
    background-color: rgba(#fff, 0.4);
  }

  .t-button {
    justify-content: flex-start;
    font-weight: 400;
    transition: opacity 0.3s;

    &__icon {
      margin-right: 16px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.header-menu-enter-active,
.header-menu-leave-active {
  transition: opacity 0.3s;
}

.header-menu-enter,
.header-menu-leave-to {
  opacity: 0;
}
</style>
