<template>
  <div>
    <div class="quotas-table-card__indicator-button">
      <CBtn
        v-if="!isStatic && canOpenForm && !isLogiest"
        transparent
        icon="edit"
        @click="openViewer"
      />
    </div>
    <CFlex
      row
      between-xs
      class="mx-1"
    >
      <div class="pt-3 pr-1 quotas-table-card__field-name">
        Сутки
      </div>
      <CFlex row>
        <template v-if="!canEdit">
          <CInput
            v-model.number="capacity"
            v-mask="{
              mask: '#########',
              tokens: {
                '#': { pattern: $options.patterns.numbers },
              },
            }"
            tabindex="1"
            :error-messages="formattedCapacityError"
            type="text"
            name="capacity"
            class="py-0 quotas-table-card__input quotas-table-card__input--capacity"
            :class="{
              'quotas-table-card__input--disabled': isLogiest,
            }"
            :disabled="canEdit || isLogiest"
            @enter="pushQuotaCapacity"
            @blur="pushQuotaCapacity"
          />
          <div class="pl-2 pt-3 quotas-table-card__measure">
            т.
          </div>
        </template>
        <template v-else>
          <div class="pl-2 pt-3 quotas-table-card__field-text">
            {{ capacity }} т.
          </div>
        </template>
      </CFlex>
    </CFlex>
    <CFlex
      row
      between-xs
      class="mx-1"
    >
      <span class="pt-3 pr-1 quotas-table-card__field-name">
        Ночь
      </span>
      <CFlex row>
        <template v-if="!canEdit">
          <CInput
            v-model.number="nightCapacity"
            v-mask="{
              mask: '#########',
              tokens: {
                '#': { pattern: $options.patterns.numbers },
              },
            }"
            tabindex="2"
            :error-messages="formattedNightCapacityError"
            type="text"
            name="nightCapacity"
            class="py-0 quotas-table-card__input quotas-table-card__input--nightCapacity"
            :class="{
              'quotas-table-card__input--disabled': isLogiest
            }"
            :disabled="canEdit || isLogiest"
            @enter="pushQuotaCapacity"
            @blur="pushQuotaCapacity"
          />
          <span class="pl-2 pt-3 quotas-table-card__measure">
            т.
          </span>
        </template>
        <template v-else>
          <div class="pl-2 pt-3 quotas-table-card__field-text quotas-table-card__field-text--night">
            {{ nightCapacity }} т.
          </div>
        </template>
      </CFlex>
    </CFlex>
    <CFlex>
      <div class="quotas-table-card__body quotas-table-card__body--total-weight">
        {{ $options.filters.formatNumber(getTotalWeight.toFixed(0)) }}
      </div>
    </CFlex>
    <CFlex row>
      <div class="quotas-table-card quotas-table-card--static">
        <div
          :style="{width: `${getNightContainerPersent}%`}"
          class="quotas-table-card__progress-bar-container"
          :class="{
            'quotas-table-card__progress-bar-container--night': formattedData.nightCapacity > 0,
            'quotas-table-card__progress-bar-container--night-white': formattedData.nightTripWeight > 0,
          }"
        >
          <div
            :style="{width: `${getNightPercent}%`}"
            class="
              quotas-table-card__progress-bar
              quotas-table-card__progress-bar--night
            "
          />
        </div>
        <div
          :style="{width: `${getContainerPersent}%`}"
          class="quotas-table-card__progress-bar-container"
        >
          <div
            :style="{width: `${getPersent}%`}"
            class="quotas-table-card__progress-bar quotas-table-card__progress-bar--left"
          />
        </div>
      </div>
    </CFlex>
    <CFlex row>
      <CCol
        v-if="formattedData.nightCapacity > 0"
        xs="6"
      >
        <div class="quotas-table-card__body quotas-table-card__body--nightCapacity">
          {{ $options.filters.formatNumber(formattedData.nightTripWeight.toFixed(0)) }}
        </div>
      </CCol>
      <CCol :xs="formattedData.nightCapacity > 0 ? '6' : '12'">
        <div class="quotas-table-card__body quotas-table-card__body--capacity">
          {{ $options.filters.formatNumber(
            formattedData.tripWeight.toFixed(0) - formattedData.nightTripWeight.toFixed(0)
          ) }}
        </div>
      </CCol>
    </CFlex>
  </div>
</template>

<script>
// Vuex
import { mapMutations, mapGetters, mapState } from 'vuex';

// Libs
import { setQuery } from 'chober';

// Mixins
import UIMixin from '@mixins/UIMixin';
import formMixin from '@mixins/formMixin';
import rolesMixin from '@mixins/rolesMixin';

export default {
  name: 'QuotasDataCard',

  mixins: [
    UIMixin,
    formMixin,
    rolesMixin,
  ],

  props: {
    data: {
      type: Array,
      default: () => [],
    },

    isStatic: {
      type: Boolean,
      default: false,
    },

    canOpenForm: {
      type: Boolean,
      default: true,
    },

    canEdit: {
      type: Boolean,
      default: true,
    },

    errorMessage: {
      type: Object,
      default: () => ({}),
    },

    id: {
      type: Number,
      default: null,
    },

    date: {
      type: String,
      default: '',
    },

    totalWeight: {
      type: Number,
      default: 0,
    },
  },

  data: () => ({
    isPreloaderShown: false,
    capacity: 0,
    nightCapacity: 0,
  }),

  computed: {
    ...mapState([
      'createdQuotas',
      'errorsQuota',
      'hasError',
      'hasWarning',
      'factoryTotalCapacity',
    ]),

    ...mapGetters([
      'farms',
      'quotas',
    ]),

    isValidDate() {
      return this.isAfter(this.formattedData.date, this.backEnd)
        || (this.formatDate(this.formattedData.date, this.backEnd) === this.formatDate(this.now, this.backEnd));
    },

    formattedData() {
      if (!this.data || (this.data && this.data.length === 0)) {
        return {
          tripWeight: 0,
          capacity: 0,
          nightTripWeight: 0,
          nightCapacity: 0,
          date: '',
        };
      }

      this.updateLocalFields(this.data[0].capacity, this.data[0].nightCapacity);

      return this.data[0];
    },

    getTotalWeight() {
      return this.formattedData.tripWeight;
    },

    getContainerPersent() {
      const percent = 100
      * (this.formattedData.capacity - this.formattedData.nightCapacity)
      / (this.formattedData.capacity);

      return percent > 100 ? 100 : percent;
    },

    getNightContainerPersent() {
      return 100 - this.getContainerPersent;
    },

    getPersent() {
      if (this.formattedData.capacity === 0) return 0;

      const percent = 100
      * (this.formattedData.tripWeight - this.formattedData.nightTripWeight)
      / (this.formattedData.capacity - this.formattedData.nightCapacity);

      return percent > 100 ? 100 : percent;
    },

    getNightPercent() {
      if (this.formattedData.nightCapacity === 0) return 0;

      const percent = 100 * this.formattedData.nightTripWeight / this.formattedData.nightCapacity;

      return percent > 100 ? 100 : percent;
    },

    formattedCapacityError() {
      if (this.errorsQuota && this.errorsQuota.body && this.errorsQuota.body.errors) {
        const keys = Object.keys(this.errorsQuota.body.errors);

        if (keys.length > 0) {
          const key = keys[0];

          if (key === `quotas.${this.id}.${this.date}.capacity`) {
            this.updateState({ hasError: true });
            return this.errorsQuota.body.errors[key];
          }
        }
      }

      return this.errors.collect('capacity');
    },

    formattedNightCapacityError() {
      if (this.errorsQuota && this.errorsQuota.body && this.errorsQuota.body.errors) {
        const keys = Object.keys(this.errorsQuota.body.errors);

        if (keys.length > 0) {
          const key = keys[0];

          if (key === `quotas.${this.id}.${this.date}.nightCapacity`) {
            this.updateState({ hasError: true });
            return this.errorsQuota.body.errors[key];
          }
        }
      }

      return this.errors.collect('nightCapacity');
    },
  },

  methods: {
    ...mapMutations([
      'updateState',
    ]),

    updateLocalFields(capacity, nightCapacity) {
      this.capacity = capacity;
      this.nightCapacity = nightCapacity;
    },

    getFarmName(id) {
      return this.farms.find(farm => farm.id === id).name;
    },

    openViewer() {
      if (!this.canOpenForm) return;

      setQuery({ quota: this.formattedData.id }, { isSaveOld: true });

      this.updateState({
        selectedQuotaId: this.formattedData.id,
        quota: this.formattedData,
      });
    },

    pushQuotaCapacity() {
      if (this.hasError || this.hasWarning) {
        this.updateState({
          errorsQuota: [],
          hasError: false,
          hasWarning: false,
        });
      }

      this.removeErrors();

      const formattedQuota = this.quotas
        .reduce((acc, current) => ({ ...acc, [current.farmId]: current }), {});
      const totalCreatedCap = this.createdQuotas
        .filter(quota => quota.farmId !== this.id)
        .reduce((acc, current) => acc + current.capacity, 0);
      const total = this.createdQuotas
        .filter(quota => quota.farmId !== this.id)
        .map(quota => formattedQuota[quota.farmId])
        .filter(quota => quota)
        .reduce((acc, current) => acc + current.capacity, 0);

      if (
        this.factoryTotalCapacity < (this.totalWeight
        - total
        + totalCreatedCap
        - this.formattedData.capacity
        + this.capacity)
      ) {
        this.updateState({ hasWarning: true });
      }

      if (this.capacity >= this.nightCapacity) {
        if (
          this.formattedData.capacity !== this.capacity
          || this.formattedData.nightCapacity !== this.nightCapacity
        ) {
          this.$emit('push-quota-capacity', {
            capacity: this.capacity,
            nightCapacity: this.nightCapacity,
          });
        }
      } else {
        this.updateState({ hasError: true });
        this.errors.add({
          field: 'nightCapacity',
          msg: 'Не может превышать суточную квоту',
        });
      }
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.quotas-table-card {
  $row-height: 20px;

  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 9px;
  margin: 2px 0;
  background-color: #fff;
  border: 1px solid $blue-grey;
  border-radius: 2px;
  z-index: 0;

  &__progress-bar-container {
    display: flex;
    height: 100%;
    position: relative;

    &--night {
      border-right: 1px solid $blue-grey;
    }

    &--night-white {
      border-right: 1px solid #fff;
    }
  }

  &__field-name {
    min-width: 50px;
  }

  &__input .g-field__field-wrapper {
    height: 30px;
  }

  &__input {
    margin: 6px 0;
    min-width: 60px;
    width: 60px;

    &--capacity .g-field__field {
      height: 30px;
      min-height: 30px;
      border-radius: 2px;
      border: 1px solid $simple-green;

      &:hover {
        box-shadow: 0 0 0 1px $simple-green;
      }

      &:focus {
        box-shadow: 0 0 0 1px $simple-green;
      }
    }

    &--nightCapacity .g-field__field {
      height: 30px;
      min-height: 30px;
      border-radius: 2px;
      border: 1px solid $divine-blue;

      &:hover {
        box-shadow: 0 0 0 1px $divine-blue;
      }

      &:focus {
        box-shadow: 0 0 0 1px $divine-blue;
      }
    }

    &--disabled {
      outline: none;
    }

    &--disabled .g-field__field {
      border: 1px solid $light-blue-grey;

      &:hover {
        box-shadow: none;
        border: 1px solid $light-blue-grey;
      }
    }
  }

  &__measure {
    min-width: 25px;
  }

  &__field-text {
    width: 85px;

    &--night {
      margin-bottom: 13px;
    }
  }

  &--full-day {
    margin-bottom: 16px;
  }

  &--night {
    border-right-style: solid;
  }

  &__body {
    font-weight: 500;
    z-index: 1;
    display: flex;
    justify-content: center;

    &--capacity {
      color: $simple-green;
    }

    &--nightCapacity {
      color: $divine-blue;
    }

    &--total-weight {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
  }

  &--static {
    cursor: auto;
  }

  &--left {
    left: 0;
    border-radius: 2px;
    border-style: solid;
  }

  &--preloading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover:not(&--static) {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.16);
  }

  &__progress-bar {
    z-index: -1;
    height: 100%;
    background-color: $great-green;
    position: absolute;
    right: 0;
    top: 0;

    &--night {
      background-color: $deep-blue;
    }

    &--left {
      left: 0;
    }
  }

  &__indicator-container {
    flex: 1;
  }

  &__container {
    width: 100%;
  }

  &__indicator-button {
    position: absolute;
    left: -18px;
    top: -15px;
    min-width: 32px;
  }
}
</style>
