<template>
  <div>
    <CFlex middle-xs>
      <MultipleDatesSwitcher
        :date="date"
        :range="5"
        class="pb-0 quotas-filter__datepicker"
        @input="updateDates"
      />
      <QuotasUploader
        v-if="!isTabletAndUp && (isLogiestGroup || isAdmin)"
        class="ml-5 pb-0 quotas-filter__uploader"
      />
      <CCol class="pl-2">
        <CBtn
          v-if="!isLogiest"
          :loading="isQuotaUpdating"
          @click="openCommentForm"
        >
          Сохранить
        </CBtn>
      </CCol>
    </CFlex>
  </div>
</template>

<script>
// Vuex
import {
  mapState,
  mapActions,
  mapMutations,
} from 'vuex';

// Libs
import { setQuery, getQuery } from 'chober';
import moment from 'moment';

// Mixins
import devMixin from '@mixins/devMixin';
import formMixin from '@mixins/formMixin';
import filterMixin from '../mixins/filterMixin';
import rolesMixin from '@mixins/rolesMixin';
import UIMixin from '@mixins/UIMixin';

// Models
import filtersModel from '../models/filters';

// Components
import QuotasUploader from './QuotasUploader';
import MultipleDatesSwitcher from '@features/MultipleDatesSwitcher';

export default {
  name: 'QuotasFilters',

  components: {
    QuotasUploader,
    MultipleDatesSwitcher,
  },

  mixins: [
    formMixin,
    devMixin,
    filterMixin,
    rolesMixin,
    UIMixin,
  ],

  data: () => ({
    formFields: filtersModel(getQuery(['status'])),
    date: '',
  }),

  computed: {
    ...mapState([
      'list',
      'loadTime',
      'selectedDate',
      'isQuotaUpdating',
      'hasError',
      'createdQuotas',
    ]),

    formattedCrashFarms() {
      const errors = this.errors.first('quota');

      return errors ? errors.split(', ') : [];
    },
  },

  mounted() {
    const query = getQuery();

    if (query.selectedDate) {
      this.updateDates(moment(query.selectedDate, 'DD.MM.Y').format('YYYY-MM-DD'));
    }
  },

  methods: {
    ...mapActions([
      'GET_QUOTAS',
    ]),

    ...mapMutations([
      'updateState',
    ]),

    updateDates(selectedDate) {
      if (selectedDate === '') {
        return;
      }

      this.date = this.formatDate(selectedDate, 'YYYY-MM-DD');
      this.updateState({ selectedDate: this.date });
      setQuery({ selectedDate: this.formatDate(this.date, 'DD.MM.Y') }, { isSaveOld: true });
      this.getData();
    },

    openCommentForm() {
      if (this.hasError || this.createdQuotas.length === 0) return;

      this.updateState({ isOpenCommentPopup: true });
    },

    async getData() {
      this.updateState({ isPreloaderShown: true });
      await this.GET_QUOTAS();
      this.updateState({ isPreloaderShown: false });
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.quotas-filter {
  $cascade: ".g-field";

  #{cascade} & {
    padding: 0;
  }

  &__uploader {
    margin-bottom: -15px;
  }

  &__column {
    width: 100%;
    flex: none;

    &--first {
      width: 42.5%;
    }

    &--second {
      width: 57.5%;
    }
  }

  &__row {
    margin: 16px 0;
  }

  &__group {
    margin-top: 8px;
    width: 100%;

    @media (min-width: $media-lg-min) {
      margin-left: 16px;
      margin-top: 0;
      width: auto;
    }

    &--first {
      margin-top: 0;
      margin-left: 0;
    }
  }

  &__search,
  &__status {
    flex: 1 1 0;
  }
}
</style>
