<template>
  <div
    ref="table"
    class="quotas-table"
    @scroll="checkButtons"
  >
    <CFlex
      class="mx-0 quotas-table__inner quotas-table__inner--with-data"
      row
    >
      <template>
        <div
          v-sticky
          class="quotas-table__scroll-buttons-row"
          sticky-offset="stickyOffsetPeriods"
          sticky-z-index="20"
        />
        <slot />
      </template>
    </CFlex>
  </div>
</template>

<script>
// Vuex
import { mapState } from 'vuex';

// Mixins
import shitMixin from '@mixins/shitMixin';
import tableMixin from '../mixins/tableMixin';

export default {
  name: 'QuotasTable',

  mixins: [
    shitMixin,
    tableMixin,
  ],

  props: {
    hasItems: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    isShownLeftScrollButton: false,
    isShownRightScrollButton: false,
  }),

  computed: {
    ...mapState([
      'loadTime',
      'selectedDate',
    ]),
  },

  watch: {
    loadTime() {
      this.checkButtons();
    },

    selectedDate: 'resetScroll',
  },

  created() {
    window.addEventListener('resize', this.reloadComponent);
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.reloadComponent);
  },

  methods: {
    toggleScroll(direction) {
      const { table } = this.$refs;
      const scrollAnimation = setInterval(() => {
        if (direction === 'left') {
          table.scrollLeft -= 10;
        } else {
          table.scrollLeft += 10;
        }
      }, 1);

      setTimeout(() => {
        clearInterval(scrollAnimation);
      }, 1000);
    },

    resetScroll() {
      const { table } = this.$refs;
      table.scrollLeft = 0;
    },

    checkButtons() {
      const BACKSPACE = 50;
      const { table } = this.$refs;
      const { scrollLeft, clientWidth, scrollWidth } = table;

      this.isShownLeftScrollButton = scrollLeft > BACKSPACE;
      this.isShownRightScrollButton = scrollLeft + clientWidth < scrollWidth - BACKSPACE;
    },

    reloadComponent() {
      this.checkButtons();
      // To reload v-sticky components.
      this.rerenderComponent();
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

$background: #f9f9f9;
$gutter-width: 24px; // must coincide with gutterWidth
$right-cell-padding: 16px;
$header-font-size: 14px;
$header-line-height: 1.43;
$header-vertical-padding: 10px;
$header-horizontal-padding: 10px;
$header-border-width: 1px;

$header-cell-height: $header-font-size * $header-line-height
  + $header-vertical-padding * 2
  + $header-border-width * 2;

.quotas-table {
  $self: &;

  --gutter-width: 24px;
  --right-cell-padding: 16px;
  --left-cell-padding: 16px;

  @media (min-width: $media-xl-min) {
    --gutter-width: 40px;
    --right-cell-padding: 24px;
    --left-cell-padding: 24px;
  }

  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  overflow-x: auto;

  &__inner {
    display: block;
    width: 100%;

    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--with-data {
      min-width: 1207px;

      @media (min-width: $media-md-min) {
        min-width: auto;
      }
    }
  }

  &__row {
    width: 100%;
    display: flex;
    flex: auto;

    &:not(&--header):not(&--assumed-weight) {
      min-height: 100px;
    }

    &--header {
      height: 55px;
      flex: none;
    }

    &--assumed-weight {
      height: 55px;
      flex: none;
      font-size: 16px;
      font-weight: 500;
    }

    &--quota-button {
      border-radius: 50%;
      position: absolute;
      right: 10px;
      bottom: 10px;
      opacity: 0.3;

      &:hover:not([disabled]) {
        opacity: 1;
      }
    }
  }

  &__text {
    padding: 25px 10px 10px;
    text-align: center;
    font-weight: 500;
  }

  &__cell {
    position: relative;
    border: 1px solid #e0e0e0;
    background-color: $background;
    color: $charcoal-grey;
    padding-top: 18px;
    flex: none;
    width: calc(100% / 6);

    &--without-card {
      padding: 10px;
      text-align: center;
      font-weight: 500;
    }

    &:first-child {
      padding-left: $gutter-width;
      padding-left: var(--gutter-width);
      width: calc(100% / 6);
      min-width: 190px;
    }

    &:not(:last-child) {
      border-right-color: $background;
    }

    &:not(&--header) {
      border-top: none;
      padding-bottom: 18px;

      #{$self}--summary & {
        padding-bottom: 7px;
      }

      padding-right: $right-cell-padding;
      padding-right: var(--right-cell-padding);
      padding-left: var(--left-cell-padding);
    }

    &:not(&--header):not(:first-child) {
      #{$self}__row--total & {
        padding-top: 8px;
      }

      #{$self}--summary #{$self}__row--single & {
        padding-top: 24px;

        @media (min-width: $media-md-min) {
          padding-top: 27px;
        }
      }
    }

    #{$self}__row--title &:not(&--header) {
      border-bottom: 0;
      padding-bottom: 0;
    }

    &--header {
      display: flex;
      width: calc(100% / 5);
      background-color: $background;
      padding: $header-vertical-padding $header-horizontal-padding;
      font: #{$header-font-size}/#{$header-line-height} $font-main;
      justify-content: center;
      align-items: center;
      font-weight: 700;

      &:first-child {
        padding-left: 10px;
      }
    }

    #{$self}--summary #{$self}__row--total & {
      padding-bottom: 24px;
      padding-top: 8px;
    }

    #{$self}__row--single & {
      top: -1px;
      border-top: 1px solid $background;
      border-bottom: 0;
      padding-bottom: 24px;
    }

    &--assumed-weight {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      &:first-child {
        justify-content: end;
      }
    }
  }

  &__add-quota-container {
    display: flex;
  }

  &__add-btn {
    opacity: 0.3;
    transition: 0.7s;
    margin: 16px 8px 56px calc(16.67% - 16px);

    &:hover {
      opacity: 1;
    }
  }

  &__add-quota-menu {
    margin-top: 16px;
    border: 1px solid $light-blue-grey;
    border-radius: 4px;
    height: fit-content;

    &--passive {
      display: none;
    }
  }

  &__add-quota-menu-item {
    padding: 4px;
    border-bottom: 1px solid $light-blue-grey;
    transition: 0.2s;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: rgba($slime-green, 0.3);
    }
  }

  &__card {
    transform: translateX(-1px);
  }

  &__scroll-buttons-row {
    // For scroll arrow buttons.
    // Because v-sticky sets inline left style.
    // stylelint-disable-next-line declaration-no-important
    left: auto !important;
    // stylelint-disable-next-line declaration-no-important
    right: 0 !important;
  }

  &__toggle-button {
    margin: 5px 0 16px;
    font-size: 14px;
    white-space: nowrap;

    .k-icon {
      font-size: 10px;
      margin-left: 5px;
    }

    @media (min-width: $media-md-min) {
      margin-left: 16px;
    }

    @media (min-width: $media-md-min) and (max-width: $media-xl-min) {
      margin-left: 0;
      font-size: 12px;
    }
  }

  &__row-button {
    margin: 3px 0 0 $header-horizontal-padding;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    &--timeslot {
      position: absolute;
      left: $gutter-width;
      left: var(--gutter-width);
      bottom: 14px;
      opacity: 0.75;
      margin-left: 0;

      #{$self}__cell:first-child & {
        left: #{$header-horizontal-padding} + $gutter-width;
        left: calc(#{$header-horizontal-padding} + var(--gutter-width));
      }
    }
  }

  &__row-hint {
    line-height: 1.43;
    margin-top: 8px;
    font-size: 12px;
    margin-left: $header-horizontal-padding;

    #{$self}__cell:first-child & {
      margin-left: 0;

      @media (min-width: $media-md-min) {
        margin-left: $header-horizontal-padding;
      }
    }

    @media (min-width: $media-md-min) {
      font-size: 14px;
      margin-left: $header-horizontal-padding;
    }
  }

  &__row-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    background-color: $background;

    &--assumed-weight {
      font-weight: 700;
      padding-top: 10px;
    }

    &--timeslot {
      display: flex;
      transform: translateX(-1px);
      font-size: 14px;
      white-space: normal;
    }
  }

  &__row-title-wrapper {
    padding: 10px 0;
  }

  &__row-subtitle {
    padding-top: 8px;
    font-size: 14px;

    @media (min-width: $media-md-min) {
      padding-left: $header-horizontal-padding;
    }
  }

  &__row-title,
  &__row-subtitle {
    color: $charcoal-grey;
    text-align: left;

    @media (min-width: $media-md-min) and (max-width: $media-xl-min) {
      padding-left: 0;
    }
  }

  &__row-edit-button {
    position: absolute;
    bottom: 0;
    right: 10px;
  }

  &__scroll-button {
    position: absolute;
    margin-top: 1px;
    z-index: 10;

    &[type="button"]:hover:not([disabled]),
    &[type="button"]:active:not([disabled]),
    &[type="button"]:focus:not([disabled]) {
      color: $true-green;
    }

    @mixin background($direction) {
      &,
      &:hover:not([disabled]),
      &:focus:not([disabled]),
      &:active:not([disabled]) {
        background: linear-gradient(to #{$direction}, $background 80%, rgba(#fff, 0));
      }
    }

    @include background("left");

    &--right {
      right: 0;
    }

    &--left {
      @include background("right");

      left: 0;
    }
  }
}
</style>
