<template>
  <div class="quota-edit-form">
    <WarningUnsavedPopup
      :show-modal="showModal"
      @hide-modal="showModal = false"
      @close-form="closeForm"
    />
    <CNavDrawer
      :is-opened="isOpened"
      :title="canComment || (canEdit && canComment) ? 'Редактирование квоты' : 'Просмотр квоты'"
      @close="closeForm"
    >
      <div
        class="quota-edit-form__title"
        :class="{'pt-3': isShownPreloader}"
      >
        {{ isShownPreloader ? '' : getInfo }}
      </div>
      <CFlex
        row
        baseline-xs
        class="mt-2"
      >
        <CCol xs="4">
          Суточная квота:
        </CCol>
        <CCol xs="4">
          <CInput
            v-model.number="formFields.capacity"
            v-validate="'required'"
            v-mask="{
              mask: '#########',
              tokens: {
                '#': { pattern: $options.patterns.numbers },
              },
            }"
            :error-messages="errors.collect('capacity')"
            type="text"
            name="capacity"
            :disabled="!canEdit || !canComment"
            :loading="isShownPreloader"
            @input="checkCapacity"
            @enter="updateQuota"
          />
        </CCol>
        т
      </CFlex>
      <CFlex
        row
        baseline-xs
        class="mt-2"
      >
        <CCol xs="4">
          Ночная квота:
        </CCol>
        <CCol xs="4">
          <CInput
            v-model.number="formFields.nightCapacity"
            v-mask="{
              mask: '#########',
              tokens: {
                '#': { pattern: $options.patterns.numbers },
              },
            }"
            :error-messages="errors.collect('nightCapacity')"
            type="text"
            name="nightCapacity"
            :disabled="!canEdit || !canComment"
            :loading="isShownPreloader"
            @enter="updateQuota"
          />
        </CCol>
        т
      </CFlex>
      <CFlex
        row
        baseline-xs
        class="mt-2"
      >
        <CCol xs="4">
          Время приемки
        </CCol>
        <CCol xs="8">
          <CFlex>
            <CSelect
              v-model="formFields.acceptanceTimeFrom"
              class="quota-edit-form__acceptance-time-field"
              :items="formattedPeriods"
              :loading="isShownPreloader"
              hide-selected
              placeholder="С"
              name="acceptanceTimeFrom"
              @input="removeErrors(['acceptanceTimeFrom'])"
            />
            <div class="mt-1 mx-2">
              —
            </div>
            <CSelect
              v-model="formFields.acceptanceTimeTo"
              v-validate="'required'"
              class="quota-edit-form__acceptance-time-field"
              :items="formattedPeriods"
              :loading="isShownPreloader"
              hide-selected
              placeholder="До"
              name="acceptanceTimeTo"
              @input="removeErrors(['acceptanceTimeTo'])"
            />
          </CFlex>
          <div
            v-show="errors.has('acceptanceTimeFrom')"
            class="g-error mb-2 mt-1"
          >
            Приемка должна быть в пределах работы приемки хозяйства
          </div>
        </CCol>
      </CFlex>
      <CFlex
        row
        baseline-xs
        class="mt-3 mb-4"
      >
        <CCol xs="4">
          Приемка в час
        </CCol>
        <CCol
          xs="4"
          class="ml-3"
        >
          {{ acceptancePower }} т
        </CCol>
      </CFlex>
      <CFlex
        row
        class="mt-2"
      >
        <CCol xs="4">
          Комментарий
        </CCol>
        <CCol xs="8">
          <CInput
            v-model="formFields.comment"
            v-validate="'required'"
            class="quota-edit-form__comment"
            :disabled="!canComment"
            :rows="4"
            :error-messages="errors.collect('comment')"
            :loading="isShownPreloader"
            multiline
            name="comment"
          />
        </CCol>
      </CFlex>
      <div
        v-show="message !== ''"
        class="mt-4"
      >
        <!-- eslint-disable vue/no-v-html -->
        <div v-html="message" />
        <!-- eslint-enable vue/no-v-html -->
        <CFlex
          v-for="option in $options.distributionsOption"
          :key="option.value"
          row
          class="mt-2"
        >
          <CCol xs="12">
            <CRadio
              v-model="formFields.selectedOption"
              :property-value="option.value"
              name="distribution"
              :text="option.text"
            />
          </CCol>
        </CFlex>
        <CFlex
          v-if="formFields.selectedOption === 0"
          row
          class="mt-2"
        >
          <CCol xs="8">
            <CSelect
              v-model="formFields.shareWithFarm"
              v-validate="'required'"
              :items="correctFarmOptions"
              :error-messages="errors.collect('farm')"
              :disable="canComment"
              item-value="value"
              item-text="text"
              placeholder="Выбрать"
              name="farm"
              @input="removeErrors(['farm'])"
            />
          </CCol>
        </CFlex>
      </div>
      <div class="mt-4">
        <QuotaHistory
          :is-open-form="isOpened"
          :logs="formFields.logs"
        />
      </div>
      <div
        v-if="canComment || (canEdit && canComment)"
        slot="footer"
        class="full-width"
      >
        <CFlex row>
          <CCol
            xs="6"
            sm="3"
            class="text-xs-left text-sm-right"
          >
            <CBtn
              :loading="isShownPreloader"
              transparent
              class="mr-3"
              color="dark"
              @click="closeForm"
            >
              Отменить
            </CBtn>
          </CCol>
          <CCol
            xs="6"
            sm="9"
            class="text-xs-right text-sm-left"
          >
            <CBtn
              :loading="isShownPreloader"
              @click="updateQuota"
            >
              Сохранить
            </CBtn>
          </CCol>
        </CFlex>
      </div>
    </CNavDrawer>
  </div>
</template>

<script>
// Vuex
import {
  mapMutations,
  mapState,
  mapActions,
  mapGetters,
} from 'vuex';

// Libs
import {
  clone,
  isEqual,
  setQuery,
  isEmpty,
} from 'chober';
import { debounce } from 'debounce';
import moment from 'moment';

// Mixins
import formMixin from '@global/mixins/formMixin';
import UIMixin from '@global/mixins/UIMixin';
import rolesMixin from '@global/mixins/rolesMixin';

// Components
import WarningUnsavedPopup from '@features/WarningUnsavedPopup';
import QuotaHistory from './QuotaHistory';

// Models
import quotaFormModel from '../models/quotaFormModel';

export default {
  name: 'QuotaEditForm',

  components: {
    WarningUnsavedPopup,
    QuotaHistory,
  },

  mixins: [
    formMixin,
    UIMixin,
    rolesMixin,
  ],

  props: {
    isOpened: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    formFields: quotaFormModel(),
    oldData: quotaFormModel(),
    message: '',
    showModal: false,
    totalCurrentWeight: 0,
  }),

  distributionsOption: [
    {
      value: 2,
      text: 'Уменьшить суточную квоту без распределения',
    },
    {
      value: 1,
      text: 'Распределить между всеми хозяйствами равномерно',
    },
    {
      value: 0,
      text: 'Передать в хозяйство',
    },
  ],

  computed: {
    ...mapState([
      'selectedQuotaId',
      'factoryTotalCapacity',
    ]),

    ...mapGetters([
      'quotas',
      'farms',
      'farmOptions',
      'totalWeight',
    ]),

    canComment() {
      return this.isAdmin || this.isLogiestGroup;
    },

    getInfo() {
      return !isEmpty(this.formFields) && `${this.formFields.farmWithoutTrash.name}, ${this.formatDate(this.formFields.date, 'D MMMM')}`;
    },

    correctFarmOptions() {
      return this.farmOptions && this.farmOptions.filter(farm => farm.value !== this.formFields.farmId);
    },

    canEdit() {
      return (this.isAdmin || this.isLogiestGroup) && (this.isAfter(this.formFields.date, this.backEnd)
        || (this.formatDate(this.formFields.date, this.backEnd) === this.formatDate(this.now, this.backEnd)));
    },

    formattedPeriods() {
      return Array.from(
        { length: 25 },
        (item, index) => ({
          id: index,
          name: `${index}:00`,
        }),
      );
    },

    acceptancePower() {
      const {
        acceptanceTimeTo,
        acceptanceTimeFrom,
        capacity,
      } = this.formFields;
      let acceptancePower = 0;
      let hours = 0;

      if (Number(acceptanceTimeTo) > Number(acceptanceTimeFrom)) {
        hours = acceptanceTimeTo - acceptanceTimeFrom;
      } else {
        hours = (24 - acceptanceTimeFrom) + acceptanceTimeTo;
      }
      acceptancePower = capacity / hours;

      const power = Number.isInteger(acceptancePower)
        ? acceptancePower
        : acceptancePower.toFixed(2);

      // If number is infinity
      return power < 0 || !Number.isFinite(Number(power)) ? 0 : power;
    },
  },

  watch: {
    'formFields.selectedOption': function selectedOptionHandler(selectedOption) {
      switch (selectedOption) {
        case 1:
          this.formFields.shareBetweenAll = 1;
          this.formFields.withoutShare = 0;
          break;
        case 2:
          this.formFields.shareBetweenAll = 0;
          this.formFields.withoutShare = 1;
          break;
        default:
          this.formFields.shareBetweenAll = 0;
          this.formFields.withoutShare = 0;
      }
    },

    selectedQuotaId(selectedQuotaId) {
      this.removeErrors();

      if (selectedQuotaId !== null) {
        this.showPreloader();

        this.$http.get(laroute.route('quotas.view', { id: selectedQuotaId }))
          .then(({ body: { quota } }) => {
            this.formFields = quotaFormModel({
              ...quota,
              capacity: quota.capacity.toFixed(0),
              comment: '',
            });
            this.oldData = clone(this.formFields);
            this.totalCurrentWeight = this.totalWeight.find(weigth => moment(weigth.date, 'DD.MM.YYYY')
              .isSame(moment(this.formFields.date, 'YYYY-MM-DD'))).weight;
          })
          .catch(this.addErrors)
          .finally(this.hidePreloader);
      }
    },
  },

  methods: {
    ...mapMutations([
      'updateState',
    ]),

    ...mapActions([
      'GET_QUOTAS',
    ]),

    checkCapacity: debounce(async function checkCapacity(value) {
      const hasCapacity = await this.$validator.validate('capacity');

      if (
        this.factoryTotalCapacity < this.totalCurrentWeight
        - this.oldData.capacity
        + this.formFields.capacity
      ) {
        this.errors.add({
          field: 'capacity',
          msg: 'Cумма квот больше чем способность разгрузки',
        });
      }

      if ((Number(this.oldData.capacity) > Number(value)) && hasCapacity) {
        this.message = `Куда распределить остаток <b>${Number(this.oldData.capacity) - Number(value)} т</b>?`;
      } else {
        this.message = '';
      }
    }, 200),

    async updateQuota() {
      const isValidForm = await this.validateForm();

      if (!isValidForm) return;

      if (this.formFields.capacity < this.formFields.nightCapacity) {
        this.errors.add({
          field: 'nightCapacity',
          msg: 'Не может превышать суточную квоту',
        });

        return;
      }

      this.showPreloader();

      this.$http.post(laroute.route('quota.update'), {
        ...this.formFields,
        logs: null,
        farmWithoutTrash: null,
        id: this.selectedQuotaId,
      })
        .then(({ response }) => {
          this.GET_QUOTAS(response);
          this.closeForm(true);
        })
        .catch(this.addErrors)
        .finally(this.hidePreloader);
    },

    closeForm(isSave = false) {
      if (
        !isSave
        && !isEqual(this.formFields, this.oldData)
      ) {
        this.showModal = true;
      } else {
        this.updateState({ selectedQuotaId: null });
        this.message = '';
        this.formFields = quotaFormModel();
        this.removeErrors();
        setQuery({ quota: null }, { isSaveOld: true });
        this.showModal = false;
      }
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.quota-edit-form {
  &__title {
    font-size: 18px;
  }

  &__acceptance-time-field {
    width: 110px;
  }

  &__comment {
    padding-right: 23px;
  }
}
</style>
