<template>
  <div class="quotas-uploader">
    <CBtn
      v-if="!isLogiest"
      color="green"
      @click="isUploaderPopupOpened = true"
    >
      Загрузить квоты
    </CBtn>
    <CPopup
      v-model="isUploaderPopupOpened"
      width="500px"
      :action-in-end="false"
      @close="closeUploaderPopup"
    >
      <div
        slot="header"
        class="quotas-uploader__popup-header"
      >
        Загрузка квоты
      </div>
      <div slot="body">
        <CFlex start-xs>
          <CCol xs="12">
            <CUploader
              ref="uploader"
              v-validate="{ required: !isFileUploaded ? ['Загрузите файл'] : false }"
              secondary-action
              is-quotas-uploader
              :label="!isFileUploaded ? 'Выбрать файл' : 'Изменить файл'"
              extra-prop="comment"
              :extra-prop-value="formFields.comment"
              type="xlsx"
              :error-messages="errors.collect('file-input')"
              name="file-input"
              route="quota.upload"
              request-variable="file"
              @input="updatePage"
              @catch="openErrorsPopup"
              @file-upload="fileUploaded"
            />
          </CCol>
          <CCol
            xs="12"
            class="mt-3 pr-0"
          >
            <CInput
              v-model="formFields.comment"
              v-validate="'required'"
              placeholder="Комментарий"
              :rows="5"
              :error-messages="errors.collect('comment')"
              multiline
              name="comment"
            />
          </CCol>
        </CFlex>
      </div>
      <template slot="actions">
        <div>
          <CBtn
            class="ml-2"
            secondary-action
            @click="closeUploaderPopup"
          >
            Отменить
          </CBtn>
          <CBtn
            class="ml-3"
            :loading="isShownPreloader"
            @click="send"
          >
            Загрузить
          </CBtn>
        </div>
      </template>
    </CPopup>
    <a
      v-if="!isLogiest"
      href="/quotaImportExample.xlsx"
      target="_blank"
      class="quotas-uploader__file-example"
    >
      Пример файла
    </a>
    <CPopup
      v-model="errors.has('quota') || errors.has('file')"
      @close="removeErrors(['quota', 'file'])"
    >
      <template slot="header">
        <div v-if="errors.has('quota')">
          <div
            v-for="farm in formattedCrashFarms"
            :key="farm"
            class="mt-1"
          >
            {{ farm }}
          </div>
        </div>
        <div v-if="errors.has('file')">
          {{ errors.first('file') }}
        </div>
      </template>
    </CPopup>
  </div>
</template>

<script>
// Vuex
import {
  mapActions,
} from 'vuex';

// Mixins
import UIMixin from '@mixins/UIMixin';
import formMixin from '@mixins/formMixin';
import rolesMixin from '@mixins/rolesMixin';

// Models
import quotaFormModel from '../models/quotaFormModel';

export default {
  name: 'QuotasUploader',

  mixins: [
    UIMixin,
    formMixin,
    rolesMixin,
  ],

  data: () => ({
    formFields: quotaFormModel(),
    isUploaderPopupOpened: false,
    isFileUploaded: false,
    target: null,
    formData: null,
  }),

  computed: {
    formattedCrashFarms() {
      const errors = this.errors.first('quota');

      return errors ? errors.split(', ') : [];
    },
  },

  methods: {
    ...mapActions([
      'GET_QUOTAS',
    ]),

    fileUploaded(target, formData) {
      this.target = target;
      this.formData = formData;
      this.isFileUploaded = true;
      this.removeErrors(['file-input']);
    },

    async send() {
      const isValidForm = await this.validateForm();

      if (!isValidForm) return;

      this.showPreloader();

      await this.$refs.uploader.upload(this.target, this.formData);
    },

    closeUploaderPopup() {
      this.formFields = quotaFormModel();
      this.isUploaderPopupOpened = false;
      this.isFileUploaded = false;
      this.target = null;
      this.formData = null;
    },

    async updatePage() {
      await this.GET_QUOTAS();
      this.closeUploaderPopup();
      this.hidePreloader();
    },

    openErrorsPopup(errors) {
      this.hidePreloader();
      this.addErrors(errors);
      this.GET_QUOTAS();
    },
  },
};
</script>

<style lang="scss">
.quotas-uploader {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;

  &__file-example {
    margin-right: 16px;
    font-size: 12px;
    text-decoration: underline dashed;
  }

  &__popup-header {
    margin: 12px 12px 0;
    font-weight: 500;
  }
}
</style>
