<template>
  <div class="quota-history">
    <div class="mb-2 quota-history__toggle-shown-map">
      <CBtn
        transparent
        @click="toggleShownHistory"
      >
        {{ isShownHistory ? 'Скрыть историю' : 'История изменений' }}
        <CIcon
          :name="isShownHistory ? 'arrow-up' : 'arrow-down'"
          class="ml-3"
        />
      </CBtn>
    </div>
    <div v-if="isShownHistory">
      <CFlex
        row
        class="mb-2 quota-history__header-history"
      >
        <CCol xs="5">
          Дата, время и пользователь
        </CCol>
        <CCol xs="7">
          Действие
        </CCol>
      </CFlex>
      <div class="quota-history__container">
        <CFlex
          v-for="(log, logIndex) in logs"
          :key="logIndex"
        >
          <template v-if="checkHasLog(log)">
            <CCol
              xs="5"
              class="mb-3 pl-0"
            >
              <span>
                {{ formatDate(log.createdAt, 'DD.MM.Y, HH:mm') }}
              </span><br>
              <span>
                {{ getLogAuthor(log) }}
              </span><br>
              <span class="quota-history__subtitle">
                {{ getRole(log) }}
              </span>
            </CCol>
            <CCol
              xs="7"
              class="mb-3"
            >
              <!-- eslint-disable vue/no-v-html -->
              <div v-html="formatChanges(log)" />
              <!-- eslint-enable vue/no-v-html -->
            </CCol>
          </template>
        </CFlex>
      </div>
    </div>
  </div>
</template>

<script>
// Vuex
import { mapGetters } from 'vuex';

// Mixins
import UIMixin from '@mixins/UIMixin';

export default {
  name: 'QuotaHistory',

  mixins: [
    UIMixin,
  ],

  props: {
    isOpenForm: {
      type: Boolean,
      default: false,
    },

    logs: {
      type: Array,
      default: () => [],
    },
  },

  data: () => ({
    isShownHistory: false,
  }),

  watch: {
    isOpenForm(isOpen) {
      if (isOpen) {
        this.isShownHistory = false;
      }
    },
  },

  methods: {
    toggleShownHistory() {
      this.isShownHistory = !this.isShownHistory;
    },

    getLogAuthor(log) {
      if (log.data.initiator === null) {
        return 'Автоматически';
      }

      return log.data.initiator.profile.shortName;
    },

    formatPeriodTime(period) {
      if (period.length < 4) return '';

      const timeFrom = period.substring(0, 2);
      const timeTo = period.substring(2);

      return `${timeFrom}-${timeTo}`;
    },

    getRole(log) {
      if (log.data.initiator === null) return '';

      return log.data && log.data.initiator && log.data.initiator.roleName;
    },

    formatChanges(log) {
      if (!log.data || !log.data.attributes) return '';

      const { attributes } = log.data;

      const history = [];

      if (attributes.oldPeriodQuota !== undefined) {
        const { periodQuota, oldPeriodQuota } = attributes;
        history.push(`Изменение квоты на период ${this.formatPeriodTime(periodQuota.period)}
         c ${Math.round(Number(oldPeriodQuota.acceptancePower))}т
         на ${Math.round(Number(periodQuota.acceptancePower))}т`);
      }

      if (log.data.initiator === null) {
        history.push(`После уменьшения мощности ${attributes.sharedFarm.name}<br>${attributes.sharedUser.profile.shortName}`);
      }

      if (attributes.file !== undefined) {
        if (this.checkIsCreating(log.data)) {
          history.push(`Изменение квоты с ${attributes.oldAttributes.capacity}т на ${attributes.capacity}т из
            <a href="${attributes.file}" download>${this.getFileName(attributes.file)}</a>`);
        } else {
          history.push(`Создание квоты на ${attributes.capacity}т из
            <a href="${attributes.file}" download>${this.getFileName(attributes.file)}</a>`);
        }
      }

      if (
        attributes.acceptanceTimeFrom
        && attributes.acceptanceTimeTo
        && attributes.oldAttributes.acceptanceTimeTo
        && attributes.oldAttributes.acceptanceTimeTo
      ) {
        const oldTime = attributes.oldAttributes.acceptanceTimeFrom
          && attributes.oldAttributes.acceptanceTimeTo
          ? `${attributes.oldAttributes.acceptanceTimeFrom}:00 - ${attributes.oldAttributes.acceptanceTimeTo}:00`
          : '';
        const newTime = attributes.acceptanceTimeFrom && attributes.acceptanceTimeTo
          ? `${attributes.acceptanceTimeFrom}:00 - ${attributes.acceptanceTimeTo}:00`
          : '';

        history.push(`Изменено время приёмки с ${oldTime} на ${newTime}`);
      }

      if (
        this.checkIsCreating(log.data)
          && attributes.oldAttributes.capacity
          && attributes.capacity
          && attributes.file === undefined
      ) {
        history.push(`Изменение квоты с ${attributes.oldAttributes.capacity}т на ${attributes.capacity}т`);
      }

      if (
        !this.checkIsCreating(log.data)
        && attributes.file === undefined
        && attributes.oldPeriodQuota === undefined
      ) {
        history.push(`Создание квоты на ${attributes.capacity}т`);
      }

      const oldComment = attributes.oldAttributes.comment ? attributes.oldAttributes.comment : '';

      if (attributes.comment || oldComment) {
        history.push(`Комментарий: ${attributes.comment ? attributes.comment : oldComment}`);
      }

      return history.reduce((acc, cur) => `${acc}${cur}<br>`, '');
    },

    checkIsCreating(data) {
      return !Array.isArray(data.attributes.oldAttributes);
    },

    getFileName(fileAddr) {
      return fileAddr.split('/').reverse()[0];
    },

    checkHasLog(log) {
      return (log.data
        && log.data.attributes
        && log.data.attributes.oldAttributes
        && log.data.attributes.capacity)
        || (log.data.attributes.acceptanceTimeFrom || log.data.attributes.acceptanceTimeTo)
        || log.data.attributes.oldPeriodQuota;
    },
  },
};
</script>

<style lang="scss">
@import "~@global/scss/variables";

.quota-history {
  &__reason {
    width: 270px;
    padding-right: 10px;
    margin: 10px 0;
  }

  &__subtitle {
    font-size: 12px;
    color: $charcoal-grey-56;
  }

  &__item {
    padding: 10px;
    margin: 10px 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__title {
    font-size: 17px;
    font-weight: 400;
  }

  &__header-history {
    color: $charcoal-grey-56;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
  }
}
</style>
