<template>
  <div>
    <QuotasTable
      :has-items="hasQuotas"
      sticky-container
      class="quotas-table"
    >
      <div
        v-sticky
        sticky-offset="stickyOffsetPeriods"
        sticky-z-index="11"
        class="quotas-table__row quotas-table__row--header"
      >
        <div
          v-for="(date, index) in $options.DATE_COUNT"
          :key="date"
          :style="{ width: getColumnWidth(index) }"
          class="quotas-table__cell quotas-table__cell--header"
        >
          <template v-if="index !== 0">
            <template v-if="checkDateForCurrent(date)">
              Cегодня,
            </template>
            {{ formatCalendarDate(date) }}
          </template>
        </div>
      </div>
      <div class="quotas-table__row quotas-table__row">
        <div
          v-for="(date, index) in $options.DATE_COUNT"
          :key="date"
          :style="{ width: getColumnWidth(index) }"
          class="quotas-table__cell quotas-table__cell"
        >
          <div v-if="index === 0">
            <CTitle
              v-sticky
              sticky-offset="stickyOffset"
              class="quotas-table__row-title quotas-table__row-title--assumed-weight"
            >
              Всего
            </CTitle>
            <div class="mt-2 text--grey">факт/план</div>
          </div>
          <template v-else>
            <div class="quotas-table__text">
              <span
                v-if="totalWeight[index - 1].weight !== 0"
                :class="totalWeight[index - 1].tripWeight < totalWeight[index - 1].weight
                  ? 'text--error'
                  : 'text--green'"
              >
                {{ totalWeight[index - 1].tripWeight.toFixed(0) | formatNumber }} т /
              </span>
              <span>
                {{ totalWeight[index - 1].weight | formatNumber }} т
              </span>
            </div>
          </template>
        </div>
      </div>
      <div
        v-for="(groupItems, name, quotaIndex) in groupedQuotas"
        :key="name"
        sticky-container
      >
        <div
          v-if="(name !== '' && workingFarmsSumQuotas[quotaIndex]) || name === selectedMenuItem"
          class="quotas-table__row"
        >
          <div
            v-for="(date, dateIndex) in dateValues"
            :key="date"
            :style="{ width: getColumnWidth(dateIndex) }"
            class="quotas-table__cell"
          >
            <div
              v-if="dateIndex === 0"
              class="quotas-table__row-title-wrapper"
            >
              <CTitle
                v-sticky
                bold
                sticky-offset="stickyOffset"
                class="quotas-table__row-title quotas-table__row-title--timeslot"
              >
                {{ name }}
              </CTitle>
              <div class="mt-2">
                <span class="text--grey">Приёмка</span>
                <CPreloader
                  v-if="getFarmId(name) === updatingFarmId"
                  :size="20"
                />
                <template v-else>
                  {{ getFarmAcceptanceHours(name) }}
                </template>
              </div>
              <CBtn
                v-if="!isLogiest"
                transparent
                class="ml-2 quotas-table__row-edit-button"
                icon="edit"
                @click="openFarmForm(name)"
              />
            </div>
            <div v-else>
              <QuotasDataCard
                v-bind="{
                  date,
                  id: getFarmId(name),
                }"
                :data="getPeriodedItems(groupItems)[date]"
                :can-edit="canControl && checkIsAfterDate(date)"
                :can-open-form="checkIsDataExist(getPeriodedItems(groupItems)[date])"
                :total-weight="Number(totalWeight[dateIndex - 1].weight)"
                class="quotas-table__card"
                @push-quota-capacity="pushQuotaCapacity($event, date, name)"
              />
            </div>
          </div>
        </div>
      </div>
    </QuotasTable>
    <div class="quotas-table__add-quota-container">
      <CBtn
        class="quotas-table__add-btn"
        icon="plus"
        circle
        @click="toggleMenu"
      />
      <div
        v-if="isShowSelectionMenu"
        class="quotas-table__add-quota-menu"
      >
        <div
          v-for="(item, index) in farmsForChoice"
          :key="index"
          class="quotas-table__add-quota-menu-item"
          @click="showFarmRow(item)"
        >
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// Vuex
import {
  mapState,
  mapMutations,
  mapGetters,
} from 'vuex';

// Libs
import { isEmpty } from 'chober';
import moment from 'moment';

// Mixins
import UIMixin from '@mixins/UIMixin';
import devMixin from '@mixins/devMixin';
import rolesMixin from '@mixins/rolesMixin';
import formMixin from '@mixins/formMixin';
import tableMixin from '../mixins/tableMixin';

// Utils
import { objectify, groupBy } from '@global/utils';

// Components
import QuotasTable from './QuotasTable';
import QuotasDataCard from './QuotasDataCard';
import quotaFormModel from '../models/quotaFormModel';

const DATE_COUNT = 6;

export default {
  name: 'QuotasData',
  DATE_COUNT,

  components: {
    QuotasTable,
    QuotasDataCard,
  },

  mixins: [
    UIMixin,
    devMixin,
    tableMixin,
    rolesMixin,
    formMixin,
  ],

  data: () => ({
    dateIndices: Array.from({ length: DATE_COUNT }, (item, index) => index - 2),
    date: moment().format('YYYY-MM-DD'),
    name: '',
    isShowSelectionMenu: false,
    selectedMenuItem: '',
  }),

  computed: {
    ...mapState([
      'groupBy',
      'filters',
      'selectedDate',
      'selectedDateToCreate',
      'isPreloaderShown',
      'slug',
      'selectedFarm',
      'updatingFarmId',
    ]),

    ...mapGetters([
      'role',
      'farms',
      'quotas',
      'totalWeight',
    ]),

    formattedQuotas() {
      return this.quotas !== undefined
        ? this.quotas
          .map(item => ({
            ...item,
            farmName: (item.farmWithoutTrash && item.farmWithoutTrash.name) || '',
          }))
        : [];
    },

    canControl() {
      return this.isLogiestGroup || this.isAdmin;
    },

    groupedQuotas() {
      return {
        ...this.farms
          .map(farm => [farm.name, []])
          .reduce(objectify, {}),
        ...groupBy(this.formattedQuotas, 'farmName'),
      };
    },

    hasQuotas() {
      return !isEmpty(this.quotas);
    },

    dateValues() {
      return this.dateIndices
        .map(date => moment(this.selectedDate, 'YYYY-MM-DD')
          .add(date, 'days')
          .format('YYYY-MM-DD'));
    },

    workingFarms() {
      return Object.keys(this.groupedQuotas);
    },

    workingFarmsSumQuotas() {
      return Object.values(this.groupedQuotas)
        .map(item => item.reduce((acc, quota) => acc + Number(quota.capacity), 0));
    },

    farmsForChoice() {
      const selectedFarms = [];

      this.workingFarmsSumQuotas.forEach((item, index) => {
        if (item === 0) {
          selectedFarms.push(this.workingFarms[index]);
        }
      });

      return selectedFarms;
    },
  },

  methods: {
    ...mapMutations([
      'updateState',
      'createQuota',
    ]),

    showFarmRow(item) {
      this.selectedMenuItem = item;
      this.isShowSelectionMenu = false;
    },

    getQuota(name, date) {
      if (this.groupedQuotas[name].length === 0) return quotaFormModel();

      const quota = this.groupedQuotas[name].find(quotaItem => quotaItem.date === date);

      return quota ? quotaFormModel(quota) : quotaFormModel();
    },

    pushQuotaCapacity({ capacity, nightCapacity }, date, name) {
      const existQuota = this.getQuota(name, date);

      if (
        (Number.isInteger(capacity) || Number.isInteger(nightCapacity))
        && date
        && name
      ) {
        this.createQuota({
          id: existQuota.id,
          shareBetweenAll: 0,
          withoutShare: 1,
          acceptanceTimeFrom: existQuota.acceptanceTimeFrom,
          acceptanceTimeTo: existQuota.acceptanceTimeTo,
          capacity: Number.isInteger(capacity) ? capacity : existQuota.capacity,
          nightCapacity: Number.isInteger(nightCapacity) ? nightCapacity : existQuota.nightCapacity,
          date,
          farmId: this.getFarmId(name),
        });
      }
    },

    getPeriodedItems(items) {
      return {
        ...this.dateValues
          .map(date => [date, []])
          .reduce(objectify, {}),
        ...groupBy(items, 'date'),
      };
    },

    formatCalendarDate(dayIndex) {
      const currentDate = this.calculateDate(dayIndex);
      return moment(currentDate, 'YYYY-MM-DD').format('DD MMMM');
    },

    calculateDate(date) {
      return moment(this.selectedDate, 'YYYY-MM-DD').add(date - 3, 'days').format('YYYY-MM-DD');
    },

    checkDateForCurrent(dayIndex) {
      const currentDate = this.calculateDate(dayIndex);

      return moment().format('YYYY-MM-DD') === currentDate;
    },

    checkIsAfterDate(date) {
      return moment(date).add(1, 'days').isBefore(moment());
    },

    openFarmForm(name) {
      this.updateState({ selectedFarmId: this.farms.find(farm => farm.name === name).id });
    },

    getFarmId(name) {
      return this.farms.find(farm => farm.name === name).id;
    },

    getFarmName(id) {
      return this.farms.find(farm => farm.id === id).name;
    },

    getFarmAcceptanceHours(name) {
      const foundFarm = this.farms.find(farm => farm.name === name);

      if (foundFarm === undefined) return '';

      const fixNumber = number => (Number(number) < 10 ? `0${number}` : number);

      return `${fixNumber(foundFarm.acceptanceTimeFrom)}:00 - ${fixNumber(foundFarm.acceptanceTimeTo)}:00`;
    },

    checkIsDataExist(data) {
      return data && data.length !== 0;
    },

    toggleMenu() {
      this.isShowSelectionMenu = !this.isShowSelectionMenu;
    },
  },
};
</script>
