<template>
  <div class="quotas-comment">
    <CPopup
      v-model="isOpenCommentPopup"
      width="500px"
      @close="closeCommentPopup"
    >
      <div
        slot="header"
        class="quotas-uploader__popup-header"
      >
        Комментарий
      </div>
      <div slot="body">
        <CFlex start-xs>
          <CCol
            xs="12"
            class="mt-3 pr-0"
          >
            <span
              v-if="hasWarning"
              class="g-field__hint g-field__hint--error"
            >
              Cумма квот больше чем способность разгрузки
            </span>
            <CInput
              v-model="formFields.comment"
              v-validate="'required'"
              placeholder="Комментарий"
              :rows="5"
              :error-messages="errors.collect('comment')"
              multiline
              name="comment"
            />
          </CCol>
        </CFlex>
      </div>
      <template slot="actions">
        <div>
          <CBtn
            class="ml-2"
            secondary-action
            @click="closeCommentPopup"
          >
            Отменить
          </CBtn>
          <CBtn
            class="ml-3"
            :loading="isShownPreloader"
            @click="save"
          >
            Сохранить
          </CBtn>
        </div>
      </template>
    </CPopup>
  </div>
</template>

<script>
// Vuex
import {
  mapActions,
  mapState,
  mapMutations,
} from 'vuex';

// Mixins
import UIMixin from '@mixins/UIMixin';
import formMixin from '@mixins/formMixin';

// Models
import quotaFormModel from '../models/quotaFormModel';

export default {
  name: 'QuotasComment',

  mixins: [
    UIMixin,
    formMixin,
  ],

  data: () => ({
    formFields: quotaFormModel(),
  }),

  computed: {
    ...mapState([
      'isOpenCommentPopup',
      'hasError',
      'hasWarning',
      'createdQuotas',
    ]),
  },

  watch: {
    isOpenCommentPopup(isOpenCommentPopup) {
      if (isOpenCommentPopup) {
        this.formFields = quotaFormModel();
      }
    },
  },

  methods: {
    ...mapMutations([
      'updateState',
    ]),

    ...mapActions([
      'GET_QUOTAS',
    ]),

    async save() {
      const isValidForm = await this.validateForm();

      if (!isValidForm || this.hasError) return;

      this.showPreloader();

      await this.$http.post(laroute.route('quota.batch-create'), {
        quotas: this.createdQuotas.map(quota => ({
          ...quota,
          comment: this.formFields.comment,
        })),
      })
        .then(async () => {
          await this.GET_QUOTAS();
          this.updateState({
            createdQuotas: [],
            isOpenCommentPopup: false,
          });
        })
        .catch((body) => {
          this.updateState({
            errorsQuota: body,
            isQuotaUpdating: false,
            isOpenCommentPopup: false,
          });
        })
        .finally(this.hidePreloader);
    },

    closeCommentPopup() {
      this.updateState({ isOpenCommentPopup: false });
      this.formFields = quotaFormModel();
    },
  },
};
</script>

<style lang="scss">
.quotas-comment {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;

  &__popup-header {
    margin: 12px 12px 0;
    font-weight: 500;
  }
}
</style>
