<template>
  <ul class="sidepanel-menu">
    <SidepanelMenuItem
      v-for="item in filteredItems"
      :key="item.link"
      :is-shrunk="isShrunk"
      v-bind="item"
    />
  </ul>
</template>

<script>
// Components
import SidepanelMenuItem from './components/SidepanelMenuItem';

export default {
  name: 'SidepanelMenu',

  components: {
    SidepanelMenuItem,
  },

  props: {
    items: {
      type: Array,
      required: true,
    },

    slug: {
      type: String,
      default: '',
    },

    isShrunk: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    filteredItems() {
      return this.items;
    },
  },
};
</script>

<style scoped>
.sidepanel-menu {
  padding: 15px 0;
  padding-top: 0;
}
</style>
