<template>
  <TheLayout
    class="the-quotas"
    title="Квоты"
    :has-filters="false"
  >
    <template>
      <CContainer
        v-if="isTabletAndUp"
        slot="header"
      >
        <CFlex
          between-md
          end-xs
          class="pt-2 the-quotas__title-container"
        >
          <CCol class="the-quotas__title">
            <div class="px-2 mr-5 the-quotas__title the-quotas__title--text">
              Квоты
            </div>
            <QuotasFilters />
          </CCol>
          <CCol class="the-quotas__filters">
            <QuotasUploader />
          </CCol>
        </CFlex>
      </CContainer>
      <CContainer
        v-else
        slot="header"
      >
        <CFlex
          baseline-xs
          between-md
          end-xs
          class="mb-3"
        >
          <QuotasFilters />
        </CFlex>
      </CContainer>
    </template>
    <CFlex
      v-if="isPreloaderShown"
      middle-xs
      center-xs
    >
      <CPreloader />
    </CFlex>
    <CContainer
      v-else
      slot="header"
    >
      <QuotasData />
    </CContainer>
    <QuotaEditForm :is-opened="selectedQuotaId !== null" />
    <FarmForm
      v-if="list.labels !== undefined"
      :is-opened="selectedFarmId !== null"
      :selected-id="selectedFarmId"
      :time="list.labels.time"
      :statuses="list.labels.statusFarms"
      :is-only-unloading-active="list.isOnlyUnloading"
      @close="closeFarmForm"
      @created="closeFarmForm(true, selectedFarmId)"
    />
    <QuotasComment />
  </TheLayout>
</template>

<script>
// Vuex
import {
  mapActions,
  mapState,
  mapGetters,
  mapMutations,
} from 'vuex';

// Libs
import { getQuery } from 'chober';

// Mixins
import devMixin from '@mixins/devMixin';
import rolesMixin from '@mixins/rolesMixin';

// Components
import FarmForm from '@features/FarmForm';
import QuotasUploader from './components/QuotasUploader';
import QuotasFilters from './components/QuotasFilters';
import QuotasData from './components/QuotasData';
import QuotaEditForm from './components/QuotaEditForm';
import QuotasComment from './components/QuotasComment';

export default {
  name: 'TheQuotas',

  components: {
    FarmForm,
    QuotasData,
    QuotasFilters,
    QuotaEditForm,
    QuotasUploader,
    QuotasComment,
  },

  mixins: [
    devMixin,
    rolesMixin,
  ],

  computed: {
    ...mapState([
      'isPreloaderShown',
      'selectedQuotaId',
      'selectedFarmId',
      'labels',
      'list',
    ]),

    ...mapGetters([
      'farms',
      'quotas',
    ]),
  },

  async created() {
    this.updateState({ isPreloaderShown: true });
    await this.GET_QUOTAS();
    this.openEditQuota();
    this.updateState({ isPreloaderShown: false });
  },

  methods: {
    ...mapActions([
      'GET_QUOTAS',
    ]),

    ...mapMutations([
      'updateState',
      'updateFarm',
    ]),

    openEditQuota() {
      const { quota } = getQuery();

      if (quota === undefined) return;

      const selectedQuota = this.quotas !== undefined
        && this.quotas.find(item => item.id === Number(quota));

      this.updateState({
        selectedQuotaId: Number(quota),
        quota: selectedQuota,
      });
    },

    async closeFarmForm(isNeedToBeUpdate, selectedFarmId) {
      this.updateState({ selectedFarmId: null });

      if (isNeedToBeUpdate) {
        this.updateState({ updatingFarmId: selectedFarmId });
        this.$http.get(laroute.route('farms.view.data', { id: selectedFarmId }))
          .then(({ body }) => {
            const farmIndex = this.farms.findIndex(farm => farm.id === selectedFarmId);
            this.updateFarm({ farmIndex, farmData: body });
          })
          .catch(this.addErrors)
          .finally(() => {
            this.updateState({ updatingFarmId: null });
          });
      }
    },
  },
};
</script>

<style lang="scss">
.the-quotas {
  &__title-container {
    margin-bottom: 22px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;

    &--text {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__filters {
    padding-bottom: -5px;
  }

  &__popup-trips-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
  }

  &__popup-trips-count {
    margin-bottom: 10px;
  }

  .the-layout__container {
    margin-bottom: 35px;
  }

  .g-container {
    padding-right: 0;
  }
}
</style>
