<template>
  <svg-icon
    :name="name"
    :view-box="viewBox"
    :width="width"
    :height="height"
    :fill="fill"
    :stroke="stroke"
    @click="$emit('click', $event)"
  />
</template>

<script>
export default {
  name: 'TIconSvg',

  props: {
    name: {
      type: String,
      default: '',
    },

    fill: {
      type: String,
      default: 'currentColor',
    },

    stroke: {
      type: String,
      default: 'none',
    },

    width: {
      type: [Number, String],
      default: 15,
    },

    height: {
      type: [Number, String],
      default: 15,
    },

    viewBox: {
      type: String,
      default: '0 0 15 15',
    },
  },
};
</script>
