<template>
  <div
    class="t-field"
    :class="{
      't-field--no-label': !hasLabel,
      't-field--loading': loading,
    }"
  >
    <span
      v-if="hasLabel"
      class="t-field__label"
      :class="{
        't-field__label--error': hasErrors,
        't-field__label--success': !hasErrors && hasSuccessMessages,
      }"
    >
      {{label}}
    </span>
    <div class="t-field__field-wrapper">
      <Component
        :is="multiline ? 'textarea' : 'input'"
        ref="inputComponentRef"
        class="t-field__field"
        :class="{
          't-field__field--error': hasErrors,
          't-field__field--success': !hasErrors && hasSuccessMessages,
          't-field__field--multiline': multiline,
          't-field__field--has-button': hasButton,
          't-field__field--auto-expanded': isAutoExpanded,
        }"
        :type="multiline ? undefined : type"
        :rows="multiline ? rows : undefined"
        :placeholder="placeholder || undefined"
        :value.prop="value"
        :name="name"
        :disabled="disabled || loading"
        :autocomplete="multiline ? undefined : autocomplete"
        :readonly="readOnly"
        @blur="$emit('blur')"
        @focus="$emit('focus')"
        @input="handleInput"
        @change="$emit('change', $event.target.value)"
        @keydown.enter.prevent="$emit('enter', $event.target.value)"
      />
      <TIconSvg
        v-if="hasIcon"
        :name="iconName"
        :width="iconWidth"
        :height="iconHeight"
        :view-box="iconViewBox"
        :fill="iconFill"
        :stroke="iconStroke"
        class="t-field__icon"
        @click="$emit('icon-click', $event)"
      />
      <slot name="button" />
    </div>
    <div
      v-if="hasErrors"
      class="t-field__hint t-field__hint--error j-error"
    >
      {{errorMessages[0]}}
    </div>
    <div
      v-if="!hasErrors && hasSuccessMessages"
      class="t-field__hint t-field__hint--success-message"
    >
      {{Array.isArray(successMessages) ? successMessages[0] : successMessages}}
    </div>
    <div
      v-if="hint && !hasErrors && !hasSuccessMessages"
      class="t-field__hint"
    >
      {{hint}}
    </div>
  </div>
</template>

<script>
import { isEmpty } from 'chober';

export default {
  name: 'TInput',

  props: {
    placeholder: {
      type: String,
      default: '',
    },

    label: {
      type: String,
      default: '',
    },

    value: {
      type: [String, Number],
      default: null,
    },

    name: {
      type: String,
      default: '',
    },

    hint: {
      type: String,
      default: null,
    },

    type: {
      type: String,
      default: 'text',
    },

    autocomplete: {
      type: String,
      default: 'off',
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    loading: {
      type: Boolean,
      default: false,
    },

    multiline: {
      type: Boolean,
      default: false,
    },

    rows: {
      type: [Number, String],
      default: 1,
    },

    errorMessages: {
      type: Array,
      default: () => [],
    },

    successMessages: {
      type: [Array, String],
      default: '',
    },

    readOnly: {
      type: Boolean,
      default: false,
    },

    hasButton: {
      type: Boolean,
      default: false,
    },

    hasIcon: {
      type: Boolean,
      default: false,
    },

    iconName: {
      type: String,
      default: 'eye-input',
    },

    iconWidth: {
      type: [String, Number],
      default: 15,
    },

    iconHeight: {
      type: [String, Number],
      default: 15,
    },

    iconViewBox: {
      type: String,
      default: '0 0 15 15',
    },

    iconFill: {
      type: String,
      default: '#5E6979',
    },

    iconStroke: {
      type: String,
      default: 'none',
    },

    isAutoExpanded: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    hasLabel() {
      return this.label !== '';
    },

    hasErrors() {
      return !isEmpty(this.errorMessages);
    },

    hasSuccessMessages() {
      return !isEmpty(this.successMessages);
    },
  },

  mounted() {
    this.$nextTick(() => {
      if (this.isAutoExpanded) {
        this.setAutoExpandedTextareaHeight(this.$refs.inputComponentRef);
      }
    });
  },

  methods: {
    handleInput(event) {
      if (this.isAutoExpanded) {
        this.setAutoExpandedTextareaHeight(event.target);
      }

      this.$emit('input', event.target.value);
    },

    setAutoExpandedTextareaHeight(textarea) {
      const field = textarea;

      if (field) {
        const fieldComputedStyles = window.getComputedStyle(field);

        field.style.height = 'inherit';

        const heightNeeded = parseInt(fieldComputedStyles.getPropertyValue('border-top-width'), 10)
          + field.scrollHeight
          + parseInt(fieldComputedStyles.getPropertyValue('border-bottom-width'), 10);

        field.style.height = `${heightNeeded}px`;
      }
    },
  },
};
</script>
