<template>
  <TFlex row>
    <TCol xs="4">
      <label
        :class="{
          't-radio--checked': value === propertyValue,
          't-radio--disabled': disabled,
          't-radio--error': hasError,
        }"
        class="t-radio"
      >
        <input
          :id="propertyValue"
          v-model="innerValue"
          :disabled="disabled"
          :value="propertyValue"
          type="radio"
          class="t-radio__input"
        >
      </label>
    </TCol>
    <TCol xs="8" class="t-radio__text-container">
      <label
        :for="propertyValue"
        class="t-radio__text"
      >
        {{text}}
      </label>
    </TCol>
    <div
      v-if="hasErrors"
      class="pl-2 t-field__hint t-field__hint--error j-error"
    >
      {{errorMessages[0]}}
    </div>
  </TFlex>
</template>

<script>
import { isEmpty } from 'chober';

export default {
  name: 'TRadio',

  props: {
    value: {
      type: Number,
      required: true,
    },
    propertyValue: {
      type: Number,
      required: true,
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    errorMessages: {
      type: Array,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    text: {
      type: String,
      default: '',
    },
  },

  data: () => ({
    innerValue: 0,
  }),

  computed: {
    hasErrors() {
      return !this.isEmpty(this.errorMessages);
    },
  },

  watch: {
    value(value) {
      this.innerValue = value;
    },

    innerValue(value) {
      this.$emit('input', value);
    },
  },

  created() {
    this.innerValue = this.value;
  },

  methods: {
    isEmpty,
  },
};
</script>

<style lang="scss">
@import 'assets/scss/_variables';

.t-radio {
  $self: &;
  $size: 16px;
  $border-size: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  width: $size;
  height: $size;
  border: 1px solid $light-grey;
  border-radius: 50%;
  transition: border-color 0.2s ease;
  cursor: pointer;
  position: relative;

  &:hover,
  &--checked {
    border-color: $light-grey;
  }

  &:hover {
    border-color: $dusty-grey;
  }

  &--disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      border-color: $light-grey;
    }
  }

  &__text-container {
    margin-top: -2px;
  }
  &--checked {
    $radio-dot-padding: 2px;
    $radio-dot-size: $size - $border-size * 2 - $radio-dot-padding * 2;

    &::before {
      content: '';
      position: absolute;
      top: $radio-dot-padding;
      left: $radio-dot-padding;
      width: $radio-dot-size;
      height: $radio-dot-size;
      border-radius: 50%;
      background-color: $brick-red;
    }
  }

  &__input {
    display: none;
  }
}
</style>
