<template>
  <div class="t-tabs">
    <div class="t-tabs__header">
      <button
        v-for="(tab, tabIndex) in tabs"
        :key="tabIndex"
        :style="{ padding: buttonPadding }"
        :class="{ 't-tabs__button--active': tab.isActive }"
        class="t-tabs__button"
        @click="selectTab(tabIndex)"
      >
        {{tab.label}}
      </button>
    </div>
    <div class="t-tabs__content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TTabs',

  props: {
    value: {
      type: String,
      default: '',
    },

    buttonPadding: {
      type: String,
      default: '5px 12px',
    },
  },

  data: () => ({
    tabs: [],
  }),

  watch: {
    value(activeTab) {
      const tabIndex = this.tabs
        .findIndex(tab => tab.slug.toLowerCase() === activeTab.toLowerCase());

      if (tabIndex !== -1) {
        this.selectTab(tabIndex);
      }
    },
  },

  mounted() {
    this.tabs = this.$children;
    this.checkDefaultTab();
  },

  methods: {
    checkDefaultTab() {
      const isSomeActive = this.tabs.some(tab => tab.isActive);

      if (!isSomeActive) {
        this.tabs[0].$emit('change-active', true);
      }
    },

    selectTab(index) {
      this.tabs.forEach(tab => {
        tab.$emit('change-active', false);
      });
      this.tabs[index].$emit('change-active', true);

      this.$emit('input', this.tabs[index].slug);
    },
  },
};
</script>

<style lang="scss">
@import 'assets/scss/variables';

.t-tabs {
  &__content {
    padding: 15px 0;
  }

  &__button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease;
    transition-property: color, box-shadow;
    border: none;
    background-color: inherit;
    font-weight: 600;
    color: #5E6979;

    &--active {
      box-shadow: inset 0 -2px #9A3336;
      color: #9A3336;
    }
  }
}
</style>
