<template>
  <div class="t-table">
    <table class="t-table__table">
      <thead class="t-table__thead">
        <tr class="t-table__th-tr">
          <slot
            name="header"
            :headers="headers"
          />
        </tr>
      </thead>
      <tbody class="t-table__tbody">
        <template v-if="body && body.length > 0">
          <tr
            v-for="(item, index) in tableData"
            :key="item.id || item.vueKey"
            class="t-table__tb-tr"
            @click="$emit('click', index)"
          >
            <slot
              name="body"
              :item="item"
              :index="index"
            />
          </tr>
        </template>
      </tbody>
      <tfoot class="t-table__tfoot">
        <slot name="footer" />
      </tfoot>
    </table>
    <div
      v-if="isShownEmpty && (!body || (body && body.length === 0))"
      class="t-table__empty"
    >
      <slot name="empty" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TTable',

  props: {
    headers: {
      type: Array,
      default: () => [],
    },

    body: {
      type: Array,
      default: () => [],
    },

    isShownEmpty: {
      type: Boolean,
      default: false,
    },

    isScrollable: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    tableData() {
      return this.body.map((item, index) => ({
        ...this.headers[index],
        headers: this.headers,
        item,
      }));
    },
  },
};
</script>

<style lang="scss">
.t-table {
  &__tb-tr {
    cursor: pointer;
  }
}
</style>
