<template>
  <div v-show="isActive">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'TTab',

  props: {
    label: {
      type: String,
      required: true,
    },

    slug: {
      type: String,
      required: true,
    },

    active: {
      type: Boolean,
      default: false,
    },
  },

  data: () => ({
    isActive: false,
  }),

  created() {
    this.isActive = this.active;
    this.$on('change-active', isActive => {
      this.isActive = isActive;
    });
  },
};
</script>
