<template>
  <ul
    class="pagination"
    v-if="data.total > data.per_page"
  >
    <li
      class="pagination__button"
      v-if="data.prev_page_url"
    >
      <button
        class="pagination__link"
        aria-label="Предыдущая"
        @click.prevent="changeCurrentPage(-1)"
      >
        <span class="pagination__prev pagination__prev--mobile">&lt;</span>
        <span class="pagination__prev pagination__prev">Предыдущая</span>
      </button>
    </li>
    <li
      class="pagination__button"
      v-for="(page, index) in pages"
      :key="index"
    >
      <button
        @click.prevent="selectPage(page)"
        :class="{
          'pagination__dots': page === '...',
          'pagination__link': page !== '...',
          'pagination__link--active': page === data.current_page,
        }"
        :disabled="page === '...'"
      >
        {{ page }}
      </button>
    </li>
    <li
      class="pagination__button"
      v-if="data.next_page_url"
    >
      <button
        class="pagination__link"
        aria-label="Следующая"
        @click.prevent="changeCurrentPage(+1)"
      >
        <span class="pagination__next pagination__next">Следующая</span>
        <span class="pagination__next pagination__next--mobile">&gt;</span>
      </button>
    </li>
  </ul>
</template>

<script>
const NEGATIVE_LIMIT = -1;
const ZERO_LIMIT = 0;

export default {
  name: 'Pagination',

  props: {
    data: {
      type: Object,
      default() {
        return {};
      },
    },
    pagesLimit: {
      type: Number,
      default: 1,
    },
  },

  computed: {
    pages() {
      if (this.pagesLimit === NEGATIVE_LIMIT) return ZERO_LIMIT;

      if (this.pagesLimit === ZERO_LIMIT) return this.data.last_page;

      const currentPage = this.data.current_page;
      const lastPage = this.data.last_page;
      const limitPages = this.pagesLimit;
      const leftPages = currentPage - limitPages;
      const rightPages = currentPage + limitPages + 1;
      const pagesNumber = [];
      const pagesResult = [];
      let pagesLimit;

      // formation of pagination button
      for (let i = 1; i <= lastPage; i++) {
        if (i === 1 || i === lastPage || (i >= leftPages && i < rightPages)) {
          pagesNumber.push(i);
        }
      }

      pagesNumber.forEach((index) => {
        if (pagesLimit) {
          if (index - pagesLimit === 2) {
            pagesResult.push(pagesLimit + 1);
          } else if (index - pagesLimit !== 1) {
            pagesResult.push('...');
          }
        }

        pagesResult.push(index);
        pagesLimit = index;
      });

      return pagesResult;
    },
  },

  methods: {
    selectPage(page) {
      this.$emit('change-page', page);
    },

    changeCurrentPage(number) {
      this.selectPage(this.data.current_page + number);
    },
  },
};
</script>

<style lang="scss">
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 20px 0;

  &__button {
    cursor: pointer;
    margin: 0 10px;
  }

  &__link {
    display: inline-block;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 999px;
    background-color: #fff;
    text-align: center;
    transition: all 0.15s ease-out;
    transition-property: border-color, background-color;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: #ccc;
      background-color: #ccc;
    }

    &--active {
      border-color: #f00;
    }
  }

  &__dots {
    cursor: default;
    margin: 0 10px;
    font-size: 20px;
    background: none;
    border: 0;
  }

  &__prev,
  &__next {
    &--mobile {
      display: none;
    }
  }
}
</style>
